<a href="https://colab.research.google.com/github/ckeerthana7/MLC_Lab-Activities/blob/main/2_Example_DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
DIR = '/content/drive/My Drive/Colab Notebooks/mlc'
datafile = 'raw_dataset.csv'
filename = DIR+'/'+datafile

In [ ]:
import os
os.chdir(DIR)

In [ ]:
df = pd.read_csv(filename)
df

,irst Name,Last name,Age,SALARY,STREET Address1,STREET Address2,STREET Address3,email
0,Joel,Padilla,10/28/2019,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,09/27/2019,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,02/18/2019,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,05/21/2019,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,01/09/2020,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,05/24/2019,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,02/07/2020,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,10/29/2019,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,08/09/2018,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,07/27/2019,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com


  SECTION A: COLUMN NAME CLEANING

1.  Identify column names containing leading/trailing spaces.
2.  Detect inconsistent capitalization in column headers.
3.  Rename ‘irst Name’ to ‘First Name’.
4.  Convert all column names to snake_case format.

In [ ]:
#Identify column names containing leading/trailing spaces.
df.columns

Index(['irst Name', 'Last name', 'Age', 'SALARY', 'STREET Address1',
       'STREET Address2', 'STREET Address3', 'email'],
      dtype='object')

In [ ]:
#Detect inconsistent capitalization in column headers
df.columns = df.columns.str.lower()
df.columns

Index(['irst name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [ ]:
#Rename ‘irst Name’ to ‘First Name’
df = df.rename(columns={'irst name': 'first name'})
df.columns

Index(['first name', 'last name', 'age', 'salary', 'street address1',
       'street address2', 'street address3', 'email'],
      dtype='object')

In [ ]:
#Convert all column names to snake_case format
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['first_name', 'last_name', 'age', 'salary', 'street_address1',
       'street_address2', 'street_address3', 'email'],
      dtype='object')

SECTION B: DATA TYPE VALIDATION

5.  Print data types of all columns.
6.  Identify columns incorrectly typed as object but should be numeric
    or datetime.
7.  Convert the ‘Age’ column (which contains values like 10/28/2019) to
    datetime.
8.  Assuming ‘Age’ represents date of birth, compute age_years.
9.  Identify invalid date entries and handle them.

In [ ]:
#Print data types of all columns
df.dtypes

first_name         object
last_name          object
age                object
salary             object
street_address1    object
street_address2    object
street_address3    object
email              object
dtype: object

In [ ]:
#Convert the ‘Age’ column (which contains values like 10/28/2019) to datetime
df['age'] = pd.to_datetime(df['age'])
df.dtypes

first_name                 object
last_name                  object
age                datetime64[ns]
salary                     object
street_address1            object
street_address2            object
street_address3            object
email                      object
dtype: object

In [ ]:
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email
0,Joel,Padilla,2019-10-28,$92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com
1,Fritz,Tyler,2019-09-27,$83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net
2,Wing,Phelps,2019-02-18,$17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net
3,Ryan,Ross,2019-05-21,$45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com
4,Drake,Day,2020-01-09,$84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca
...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,$54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com
96,Neil,Bradford,2020-02-07,$74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net
97,Noble,Conrad,2019-10-29,$43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org
98,Brody,Whitaker,2018-08-09,$96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk
99,Alden,Mccormick,2019-07-27,$2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com

In [ ]:
#Assuming ‘Age’ represents date of birth, compute age_years
df['age_years'] = (pd.to_datetime('today') - df['age']).dt.days / 365
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6.312329
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6.397260
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7.002740
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6.750685
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca,6.112329
...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6.742466
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net,6.032877
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org,6.309589
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7.531507
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6.567123

In [ ]:
#convert age_years into int
df['age_years'] = df['age_years'].astype(int)
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca,6
...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net,6
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org,6
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6

In [ ]:
df['salary'] = df['salary'].astype(float)
df.dtypes

first_name                 object
last_name                  object
age                datetime64[ns]
salary                    float64
street_address1            object
street_address2            object
street_address3            object
email                      object
dtype: object

In [ ]:
#null values in age
df['age'].isnull().count()

np.int64(100)

 SECTION C: SALARY CLEANING

10. Convert ‘SALARY’ from currency strings (e.g., $92.32) to float.
11. Identify rows where salary conversion fails.
12. Detect missing or malformed salary values.
13. Compute minimum, maximum, and average salary after cleaning.
14. Flag salaries equal to zero or negative.

In [ ]:
#Convert ‘SALARY’ from currency strings (e.g., $92.32) to float
df['salary'] = df['salary'].str.replace('$', '')
df

AttributeError: Can only use .str accessor with string values!

In [ ]:
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca,6
...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net,6
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org,6
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6

In [ ]:
#Detect missing or malformed salary values
df['salary'].isnull().count()

np.int64(100)

In [ ]:
#Compute minimum, maximum, and average salary after cleaning
df['salary'].min()

0.22

In [ ]:
df['salary'].max()

99.18

In [ ]:
#average salary
df['salary'].mean()

np.float64(49.3699)

In [ ]:
#Flag salaries equal to zero or negative
df[df['salary'] <= 0]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years]
Index: []


  SECTION D: NAME CLEANING

15. Remove leading/trailing spaces from names.
16. Convert names to proper title case.
17. Detect names containing digits or special characters.
18. Create a full_name column combining First Name and Last name.

In [ ]:
#Remove leading/trailing spaces from name
df['first_name'] = df['first_name'].str.strip()
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca,6
...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net,6
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org,6
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6

In [ ]:
df['last_name'] = df['last_name'].str.strip()
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca,6
...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net,6
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org,6
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6

In [ ]:
#Convert names to proper title case
df['first_name'] = df['first_name'].str.title()

In [ ]:
df['last_name'] = df['last_name'].str.title()

In [ ]:
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca,6
...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net,6
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org,6
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6

In [ ]:
#Create a full_name column combining First Name and Last name
df['full_name'] = df['first_name'] + ' ' + df['last_name']
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7,Wing Phelps
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.Integer.vulputate@liberoat.ca,6,Drake Day
...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.Nunc@euodioPhasellus.net,6,Neil Bradford
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.Nunc.lectus@ornare.org,6,Noble Conrad
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6,Alden Mccormick

 SECTION E: EMAIL CLEANING & VALIDATION

19. Convert all emails to lowercase.
20. Remove leading/trailing spaces in email column.
21. Identify missing email addresses.
22. Detect duplicate emails.
23. Validate email format using regex.
24. Extract email domain and compute frequency of each domain.

In [ ]:
#Convert all emails to lowercase
df['email'] = df['email'].str.lower()
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7,Wing Phelps
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day
...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.nunc.lectus@ornare.org,6,Noble Conrad
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6,Alden Mccormick

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7,Wing Phelps
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day
...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.nunc.lectus@ornare.org,6,Noble Conrad
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6,Alden Mccormick

In [ ]:
#Remove leading/trailing spaces in email column
df['email'] = df['email'].str.strip()
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7,Wing Phelps
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day
...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, St.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.nunc.lectus@ornare.org,6,Noble Conrad
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 Aliquam Rd.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6,Alden Mccormick

In [ ]:
#Identify missing email addresses
df['email'].isna().sum()

np.int64(0)

In [ ]:
#Detect duplicate emails
df['email'].duplicated().sum()

np.int64(0)

In [ ]:
# Standard regex for email
import re
def is_valid(email):
  email_regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
  if re.fullmatch(email_regex, email):
    return True
  else:
    return False

In [ ]:
df['email'].apply(is_valid)

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: email, Length: 100, dtype: bool

In [ ]:
df['email'].apply(is_valid).value_counts()

email
True    100
Name: count, dtype: int64

In [ ]:
#Extract email domain and compute frequency of each domain
df['email'].str.split('@').str[1].value_counts()

email
pede.co.uk                2
malesuadafringilla.net    1
nibh.com                  1
cubilia.net               1
vitaeerat.com             1
                         ..
dictumaugue.com           1
euodiophasellus.net       1
ornare.org                1
eumetus.co.uk             1
aceleifend.com            1
Name: count, Length: 99, dtype: int64

 SECTION F: ADDRESS CLEANING
  -----------------------------

25. Identify addresses containing ‘P.O. Box’.
26. Detect inconsistent abbreviations (Rd. vs Road, St. vs Street).
27. Concatenate Address1, Address2, and Address3 into full_address.
28. Detect duplicate addresses.

In [ ]:
#Identify addresses containing ‘P.O. Box'
df[df['street_address3'].str.contains('P.O. Box')]

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu, Rd.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, St.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day
6,Kasper,Villarreal,2019-02-05,47.69,6449 Ultrices Av.,979-7052 Parturient Rd.,"P.O. Box 395, 3413 Tellus St.",nec.orci@mi.com,7,Kasper Villarreal
8,Dustin,Fleming,2019-08-30,61.60,9205 Maecenas Ave,"P.O. Box 919, 9529 Donec Avenue","P.O. Box 926, 8939 Fusce St.",vulputate.velit.eu@lacuscras.co.uk,6,Dustin Fleming
12,Oliver,Hartman,2019-03-15,7.36,Ap #840-7597 Risus. Ave,Ap #424-8954 Erat. Avenue,"P.O. Box 859, 934 Eu Road",tellus.suspendisse@gravida.ca,6,Oliver Hartman
13,Demetrius,Hurst,2020-07-08,42.07,"P.O. Box 595, 3299 Metus St.",4391 Parturient St.,"P.O. Box 401, 8266 Dictum Street",integer.mollis.integer@phasellusvitaemauris.com,5,Demetrius Hurst
22,Todd,Richmond,2020-06-26,64.85,9020 Ac Rd.,650-7083 Nec Rd.,"P.O. Box 658, 7970 Ac St.",duis.a.mi@nonummyfusce.net,5,Todd Richmond
32,Wylie,Vasquez,2020-02-08,15.15,"9710 Eu, St.",Ap #992-6350 Erat. Rd.,"P.O. Box 416, 7941 Enim Road",sit@cursusa.co.uk,6,Wylie Vasquez
39,Murphy,Sloan,2018-11-12,89.42,Ap #188-6469 Dictum. Ave,Ap #763-1429 Diam. Ave,"P.O. Box 786, 4820 Et, Road",proin@egestas.net,7,Murphy Sloan
45,Connor,Kane,2018-08-17,24.86,"P.O. Box 731, 428 Nisl St.","P.O. Box 409, 2528 Neque Rd.","P.O. Box 354, 5471 Posuere St.",dolor@consequat.org,7,Connor Kane
46,Ian,Conner,2019-10-18,51.91,Ap #481-6655 Volutpat. Street,Ap #963-8049 Non Avenue,"P.O. Box 107, 5842 Nunc Ave",augue.sed.molestie@acfermentumvel.co.uk,6,Ian Conner
47,Aquila,Moody,2020-03-20,43.61,"P.O. Box 805, 1638 Duis Avenue",6726 Eu St.,"P.O. Box 562, 829 Maecenas Rd.",donec.feugiat.metus@nam.com,5,Aquila Moody
50,Caleb,Williamson,2019-08-10,28.88,Ap #177-2906 Tellus Avenue,434-2958 Non Rd.,"P.O. Box 160, 3717 Dolor, Rd.",vivamus.euismod.urna@vestibulum.edu,6,Caleb Williamson
53,Xander,Battle,2018-12-27,9.06,"P.O. Box 611, 6063 Molestie Ave",Ap #331-4458 Vulputate St.,"P.O. Box 512, 5869 Ligula. Rd.",facilisis@turpisnon.org,7,Xander Battle
54,Kermit,Mccarty,2019-01-16,34.62,8134 Nisi Rd.,Ap #951-8366 Rutrum Rd.,"P.O. Box 948, 9386 Ligula. Rd.",ipsum.dolor@ametmassaquisque.co.uk,7,Kermit Mccarty
57,Axel,Bowen,2019-09-18,87.18,"332-2122 Vulputate, Av.",6831 Sem Road,"P.O. Box 617, 5705 Dictum. St.",ante@tincidunt.ca,6,Axel Bowen
66,Herrod,Kelly,2018-07-27,37.48,290-9034 Dolor. St.,"P.O. Box 295, 108 Montes, Avenue","P.O. Box 355, 9154 Tristique Avenue",nunc.sit.amet@suspendisseacmetus.ca,7,Herrod Kelly
71,Clinton,Emerson,2019-06-18,45.08,Ap #857-9020 Ipsum. Street,Ap #469-4153 Luctus St.,"P.O. Box 748, 8147 Faucibus. St.",euismod@seddui.org,6,Clinton Emerson
74,Jin,Gould,2019-10-08,48.66,587-6660 Vel Road,"P.O. Box 213, 7547 Pharetra, St.","P.O. Box 886, 3113 Arcu. Road",a.malesuada.id@sed.ca,6,Jin Gould
91,August,Cleveland,2019-10-24,98.53,239-187 Venenatis Avenue,710-6545 Diam. St.,"P.O. Box 656, 3450 Dui, Street",faucibus.leo.in@arcu.net,6,August Cleveland
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae St.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs

In [ ]:
#Detect inconsistent abbreviations (Rd. vs Road, St. vs Street).
df['street_address1'].str.contains('Rd.')
df['street_address1'].str.contains('St.')

0     False
1     False
2     False
3     False
4      True
      ...
95     True
96     True
97     True
98    False
99    False
Name: street_address1, Length: 100, dtype: bool

In [ ]:
df['street_address2'].str.contains('Rd.')
df['street_address2'].str.contains('St.')

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97     True
98     True
99    False
Name: street_address2, Length: 100, dtype: bool

In [ ]:
df['street_address3'].str.contains('Rd.')
df['street_address3'].str.contains('St.')

0      True
1     False
2      True
3     False
4     False
      ...
95    False
96    False
97     True
98     True
99     True
Name: street_address3, Length: 100, dtype: bool

In [ ]:
df['street_address1'] = df['street_address1'].str.replace(' Rd.', 'Road.')

In [ ]:
df['street_address1'] = df['street_address1'].str.replace('St.', 'Street.')

In [ ]:
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu,Road.",364-2264 Augue Rd.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7,Wing Phelps
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, Street.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day
...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae Street.,"P.O. Box 930, 1683 Eu Rd.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, Street.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.nunc.lectus@ornare.org,6,Noble Conrad
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 AliquamRoad.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6,Alden Mccormick

In [ ]:
df['street_address2'] = df['street_address2'].str.replace(' Rd.', 'Road.')

In [ ]:
df['street_address2'] = df['street_address2'].str.replace('St.', 'Street.')

In [ ]:
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu,Road.",364-2264 AugueRoad.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut St.,dolor@cubilia.net,7,Wing Phelps
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, Street.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 Laoreet Rd.",nulla.integer.vulputate@liberoat.ca,6,Drake Day
...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae Street.,"P.O. Box 930, 1683 EuRoad.","P.O. Box 181, 3360 Mus. Rd.",ipsum@dictumaugue.com,6,Victor Hobbs
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, Street.",Ap #620-2512 Ut Street,8768 Aenean St.,tellus.nunc.lectus@ornare.org,6,Noble Conrad
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 AliquamRoad.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas St.,ut.erat@aceleifend.com,6,Alden Mccormick

In [ ]:
df['street_address3'] = df['street_address3'].str.replace(' Rd.', 'Road.')

In [ ]:
df['street_address3'] = df['street_address3'].str.replace('St.', 'Street.')

In [ ]:
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu,Road.",364-2264 AugueRoad.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut Street.,dolor@cubilia.net,7,Wing Phelps
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, Street.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 LaoreetRoad.",nulla.integer.vulputate@liberoat.ca,6,Drake Day
...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae Street.,"P.O. Box 930, 1683 EuRoad.","P.O. Box 181, 3360 Mus.Road.",ipsum@dictumaugue.com,6,Victor Hobbs
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, Street.",Ap #620-2512 Ut Street,8768 Aenean Street.,tellus.nunc.lectus@ornare.org,6,Noble Conrad
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 AliquamRoad.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas Street.,ut.erat@aceleifend.com,6,Alden Mccormick

In [ ]:
#Concatenate Address1, Address2, and Address3 into full_address
df['full_address'] = df['street_address1'] + ' ' + df['street_address2'] + ' ' + df['street_address3']
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,full_address
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu,Road.",364-2264 AugueRoad.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla,"431-6530 Eu,Road. 364-2264 AugueRoad. P.O. Box..."
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler,Ap #377-2267 Ac Av. 979-2228 Vel Ave 9865 Eu Av.
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut Street.,dolor@cubilia.net,7,Wing Phelps,Ap #545-5786 Pulvinar Ave Ap #973-5781 Sagitti...
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross,634-7858 Id Road 907-8824 Fringilla Ave 318-52...
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, Street.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 LaoreetRoad.",nulla.integer.vulputate@liberoat.ca,6,Drake Day,"999-8221 Tempor, Street. 297-6939 Turpis. Ave ..."
...,...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae Street.,"P.O. Box 930, 1683 EuRoad.","P.O. Box 181, 3360 Mus.Road.",ipsum@dictumaugue.com,6,Victor Hobbs,"4034 Vitae Street. P.O. Box 930, 1683 EuRoad. ..."
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford,"1434 Aliquet, Street 956-6627 Nunc Av. Ap #727..."
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, Street.",Ap #620-2512 Ut Street,8768 Aenean Street.,tellus.nunc.lectus@ornare.org,6,Noble Conrad,"Ap #173-7049 Eget, Street. Ap #620-2512 Ut Str..."
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 AliquamRoad.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker,Ap #371-9803 AliquamRoad. 8892 Euismod Street ...
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas Street.,ut.erat@aceleifend.com,6,Alden Mccormick,Ap #375-1139 Risus. Road 7259 Duis Avenue 955-...

In [ ]:
#Detect duplicate addresses
df['full_address'].duplicated().count()

np.int64(100)

SECTION G: MISSING VALUES & DUPLICATES

29. Compute total missing values per column.
30. Calculate percentage of missing values.
31. Remove fully duplicate rows.
32. Identify soft duplicates (same email but different name).

In [ ]:
#Compute total missing values per column
df.isnull().sum()

first_name         0
last_name          0
age                0
salary             0
street_address1    0
street_address2    0
street_address3    0
email              0
age_years          0
full_name          0
full_address       0
dtype: int64

In [ ]:
#Calculate percentage of missing values
df.isnull().mean()

first_name         0.0
last_name          0.0
age                0.0
salary             0.0
street_address1    0.0
street_address2    0.0
street_address3    0.0
email              0.0
age_years          0.0
full_name          0.0
full_address       0.0
dtype: float64

In [ ]:
#Remove fully duplicate rows
df.drop_duplicates(inplace=True)
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,full_address
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu,Road.",364-2264 AugueRoad.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla,"431-6530 Eu,Road. 364-2264 AugueRoad. P.O. Box..."
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler,Ap #377-2267 Ac Av. 979-2228 Vel Ave 9865 Eu Av.
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut Street.,dolor@cubilia.net,7,Wing Phelps,Ap #545-5786 Pulvinar Ave Ap #973-5781 Sagitti...
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross,634-7858 Id Road 907-8824 Fringilla Ave 318-52...
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, Street.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 LaoreetRoad.",nulla.integer.vulputate@liberoat.ca,6,Drake Day,"999-8221 Tempor, Street. 297-6939 Turpis. Ave ..."
...,...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae Street.,"P.O. Box 930, 1683 EuRoad.","P.O. Box 181, 3360 Mus.Road.",ipsum@dictumaugue.com,6,Victor Hobbs,"4034 Vitae Street. P.O. Box 930, 1683 EuRoad. ..."
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford,"1434 Aliquet, Street 956-6627 Nunc Av. Ap #727..."
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, Street.",Ap #620-2512 Ut Street,8768 Aenean Street.,tellus.nunc.lectus@ornare.org,6,Noble Conrad,"Ap #173-7049 Eget, Street. Ap #620-2512 Ut Str..."
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 AliquamRoad.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker,Ap #371-9803 AliquamRoad. 8892 Euismod Street ...
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas Street.,ut.erat@aceleifend.com,6,Alden Mccormick,Ap #375-1139 Risus. Road 7259 Duis Avenue 955-...

In [ ]:
#Identify soft duplicates (same email but different name)
df[df.duplicated(subset=['email'], keep=False)]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years, full_name, full_address]
Index: []

In [ ]:
df

,first_name,last_name,age,salary,street_address1,street_address2,street_address3,email,age_years,full_name,full_address
0,Joel,Padilla,2019-10-28,92.32,"431-6530 Eu,Road.",364-2264 AugueRoad.,"P.O. Box 864, 3882 Orci Street",eu@nibh.com,6,Joel Padilla,"431-6530 Eu,Road. 364-2264 AugueRoad. P.O. Box..."
1,Fritz,Tyler,2019-09-27,83.91,Ap #377-2267 Ac Av.,979-2228 Vel Ave,9865 Eu Av.,est.ac.mattis@malesuadafringilla.net,6,Fritz Tyler,Ap #377-2267 Ac Av. 979-2228 Vel Ave 9865 Eu Av.
2,Wing,Phelps,2019-02-18,17.15,Ap #545-5786 Pulvinar Ave,Ap #973-5781 Sagittis Avenue,9959 Ut Street.,dolor@cubilia.net,7,Wing Phelps,Ap #545-5786 Pulvinar Ave Ap #973-5781 Sagitti...
3,Ryan,Ross,2019-05-21,45.97,634-7858 Id Road,907-8824 Fringilla Ave,318-5271 In Ave,interdum.libero.dui@vitaeerat.com,6,Ryan Ross,634-7858 Id Road 907-8824 Fringilla Ave 318-52...
4,Drake,Day,2020-01-09,84.38,"999-8221 Tempor, Street.",297-6939 Turpis. Ave,"P.O. Box 638, 6932 LaoreetRoad.",nulla.integer.vulputate@liberoat.ca,6,Drake Day,"999-8221 Tempor, Street. 297-6939 Turpis. Ave ..."
...,...,...,...,...,...,...,...,...,...,...,...
95,Victor,Hobbs,2019-05-24,54.56,4034 Vitae Street.,"P.O. Box 930, 1683 EuRoad.","P.O. Box 181, 3360 Mus.Road.",ipsum@dictumaugue.com,6,Victor Hobbs,"4034 Vitae Street. P.O. Box 930, 1683 EuRoad. ..."
96,Neil,Bradford,2020-02-07,74.52,"1434 Aliquet, Street",956-6627 Nunc Av.,Ap #727-6109 Sapien. Av.,sapien.nunc@euodiophasellus.net,6,Neil Bradford,"1434 Aliquet, Street 956-6627 Nunc Av. Ap #727..."
97,Noble,Conrad,2019-10-29,43.99,"Ap #173-7049 Eget, Street.",Ap #620-2512 Ut Street,8768 Aenean Street.,tellus.nunc.lectus@ornare.org,6,Noble Conrad,"Ap #173-7049 Eget, Street. Ap #620-2512 Ut Str..."
98,Brody,Whitaker,2018-08-09,96.24,Ap #371-9803 AliquamRoad.,8892 Euismod Street,Ap #201-659 Libero. Street,non.dapibus.rutrum@eumetus.co.uk,7,Brody Whitaker,Ap #371-9803 AliquamRoad. 8892 Euismod Street ...
99,Alden,Mccormick,2019-07-27,2.66,Ap #375-1139 Risus. Road,7259 Duis Avenue,955-4058 Maecenas Street.,ut.erat@aceleifend.com,6,Alden Mccormick,Ap #375-1139 Risus. Road 7259 Duis Avenue 955-...

SECTION H: DATA CONSISTENCY CHECKS

33. Check for unrealistic ages (negative or greater than 100).
34. Detect salary outliers using IQR method.
35. Determine whether email can serve as a primary key.

In [ ]:
#Check for unrealistic ages (negative or greater than 100)
df[df['age_years'] < 0]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years, full_name, full_address]
Index: []

In [ ]:
df[df['age_years']>100]

Empty DataFrame
Columns: [first_name, last_name, age, salary, street_address1, street_address2, street_address3, email, age_years, full_name, full_address]
Index: []

In [ ]:
#Detect salary outliers using IQR method
Q1 = df['salary'].quantile(0.25)
Q3 = df['salary'].quantile(0.75)

# 2. Calculate IQR
IQR = Q3 - Q1

# 3. Define Bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# 4. Filter Outliers
outliers = df[(df['salary'] < lower_bound) | (df['salary'] > upper_bound)]
print(f"Total outliers detected: {len(outliers)}")

Total outliers detected: 0

In [ ]:
#Determine whether email can serve as a primary key
df['email'].is_unique

True

SECTION I: EXPORT & REPORTING

36. Export cleaned dataset as cleaned_dataset.csv.
37. Create a data quality report summarizing:
    -   Rows before cleaning
    -   Rows after cleaning
    -   Duplicates removed
    -   Invalid emails detected
    -   Salary conversion issues
    -   Date parsing issues

In [ ]:
#Export cleaned dataset as cleaned_dataset.csv
df.to_csv('cleaned_dataset.csv', index=False)