In [1]:
import pandas as pd

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
DIR = '/content/drive/My Drive/Colab Notebooks/data'
datafile = 'soc_dump.sql'
filename = DIR+'/'+datafile

In [8]:
import os
os.chdir(DIR)

In [27]:
import email
from email import policy
file_path ='/content/drive/My Drive/Colab Notebooks/data/eml/email.eml'
with open(file_path, 'rb') as f:
    # Use policy.default to easily handle different content types
    msg = email.message_from_binary_file(f, policy=policy.default)

# Extracting data
data = {
    "Subject": msg['subject'],
    "From": msg['from'],
    "To": msg['to'],
    "Date": msg['date'],
    "Body": msg.get_body(preferencelist=('plain')).get_content() if msg.get_body() else ""
}

# Create DataFrame
df = pd.DataFrame([data])
df.head()

,Subject,From,To,Date,Body
0,"Our free, hands-on data science courses",Kaggle <noreply@kaggle.com>,ckeerthana913@gmail.com,"Mon, 12 Jan 2026 11:21:16 -0800","Kaggle\n\n\n\n\n\n\nHi hghgf88fhv,\n\nAre you ..."

In [28]:
email_list = []
file_p ='/content/drive/My Drive/Colab Notebooks/data/eml'
if not os.path.exists(file_p):
    print(f"Directory not found: {file_p}")
else:
    for filename in os.listdir(file_p):
        if filename.endswith(".eml"):
            file_path = os.path.join(file_p, filename)

            with open(file_path, 'rb') as f:
                # policy.default is crucial for easy header/body access
                msg = email.message_from_binary_file(f, policy=policy.default)

                # Logic to extract the body safely
                body_content = ""
                try:
                    body = msg.get_body(preferencelist=('plain', 'html'))
                    if body:
                        body_content = body.get_content()
                except Exception:
                    body_content = "[Could not parse body]"

                email_list.append({
                    "Filename": filename,
                    "Subject": msg['subject'],
                    "From": msg['from'],
                    "To": msg['to'],
                    "Date": msg['date'],
                    "Body": body_content
                })

    # Create the DataFrame
    df = pd.DataFrame(email_list)

# Check the results
print(f"Total files processed: {len(df)}")
df.head()

Total files processed: 2

,Filename,Subject,From,To,Date,Body
0,Introducing Community Benchmarks on Kaggle!.eml,Introducing Community Benchmarks on Kaggle!,Kaggle <noreply@kaggle.com>,ckeerthana913@gmail.com,"Wed, 14 Jan 2026 07:36:02 -0800","Kaggle\n\n\n\n\n\n\n\n\nHi hghgf88fhv,\n\nToda..."
1,email.eml,"Our free, hands-on data science courses",Kaggle <noreply@kaggle.com>,ckeerthana913@gmail.com,"Mon, 12 Jan 2026 11:21:16 -0800","Kaggle\n\n\n\n\n\n\nHi hghgf88fhv,\n\nAre you ..."

In [33]:
with open(filename, 'r') as file:
    print(file.read())

-- Synthetic SOC database dump for lab use
CREATE DATABASE IF NOT EXISTS soc;
USE soc;

CREATE TABLE IF NOT EXISTS auth_logs (
  log_id INT PRIMARY KEY AUTO_INCREMENT,
  timestamp DATETIME,
  username VARCHAR(50),
  ip VARCHAR(45),
  status VARCHAR(10),
  role VARCHAR(20),
  country VARCHAR(50)
);

INSERT INTO auth_logs (timestamp, username, ip, status, role, country) VALUES
('2026-01-05 09:00:10', 'walter', '10.0.0.104', 'SUCCESS', 'admin', 'Germany'),
('2026-01-05 09:00:31', 'victor', '10.0.0.128', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:01:00', 'charlie', '10.0.0.162', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:01:34', 'trent', '10.0.0.99', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:02:03', 'victor', '10.0.0.222', 'FAILED', 'user', 'USA'),
('2026-01-05 09:02:33', 'oscar', '10.0.0.228', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:03:02', 'bob', '10.0.0.77', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:03:31', 'victor', '10.0.0.197', 'SUCCESS', 'admin', 'UAE'),
('2026-01-05 09:04:10', 'oscar', '10.0.0.131', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:04:38', 'victor', '10.0.0.246', 'FAILED', 'user', 'India'),
('2026-01-05 09:05:01', 'walter', '10.0.0.84', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:05:39', 'eve', '10.0.0.63', 'SUCCESS', 'admin', 'USA'),
('2026-01-05 09:06:06', 'bob', '10.0.0.189', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:06:30', 'charlie', '10.0.0.170', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:07:00', 'victor', '10.0.0.225', 'SUCCESS', 'admin', 'Singapore'),
('2026-01-05 09:07:31', 'heidi', '10.0.0.81', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:08:03', 'peggy', '10.0.0.232', 'SUCCESS', 'user', 'Singapore'),
('2026-01-05 09:08:33', 'bob', '10.0.0.88', 'SUCCESS', 'user', 'Singapore'),
('2026-01-05 09:09:08', 'alice', '10.0.0.20', 'FAILED', 'user', 'USA'),
('2026-01-05 09:09:39', 'alice', '10.0.0.222', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:10:00', 'oscar', '10.0.0.126', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:10:38', 'diana', '10.0.0.202', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:11:03', 'bob', '10.0.0.170', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:11:40', 'heidi', '10.0.0.15', 'SUCCESS', 'admin', 'USA'),
('2026-01-05 09:12:08', 'alice', '10.0.0.105', 'FAILED', 'user', 'USA'),
('2026-01-05 09:12:36', 'diana', '10.0.0.51', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:13:03', 'charlie', '10.0.0.73', 'SUCCESS', 'admin', 'USA'),
('2026-01-05 09:13:37', 'peggy', '10.0.0.208', 'FAILED', 'user', 'India'),
('2026-01-05 09:14:09', 'oscar', '10.0.0.140', 'FAILED', 'admin', 'Singapore'),
('2026-01-05 09:14:34', 'charlie', '10.0.0.106', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:15:00', 'alice', '10.0.0.44', 'SUCCESS', 'admin', 'UAE'),
('2026-01-05 09:15:32', 'peggy', '10.0.0.75', 'SUCCESS', 'admin', 'Australia'),
('2026-01-05 09:16:06', 'charlie', '10.0.0.50', 'SUCCESS', 'admin', 'India'),
('2026-01-05 09:16:35', 'heidi', '10.0.0.82', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:17:04', 'alice', '10.0.0.247', 'SUCCESS', 'admin', 'USA'),
('2026-01-05 09:17:32', 'walter', '10.0.0.19', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:18:03', 'walter', '10.0.0.65', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:18:35', 'trent', '10.0.0.170', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:19:01', 'diana', '10.0.0.173', 'FAILED', 'user', 'Canada'),
('2026-01-05 09:19:31', 'charlie', '10.0.0.173', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:20:06', 'alice', '10.0.0.119', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:20:31', 'bob', '10.0.0.139', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:21:05', 'bob', '10.0.0.227', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:21:35', 'victor', '10.0.0.182', 'SUCCESS', 'admin', 'India'),
('2026-01-05 09:22:09', 'oscar', '10.0.0.211', 'SUCCESS', 'admin', 'USA'),
('2026-01-05 09:22:34', 'charlie', '10.0.0.69', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:23:00', 'eve', '10.0.0.74', 'SUCCESS', 'user', 'Singapore'),
('2026-01-05 09:23:37', 'oscar', '10.0.0.164', 'FAILED', 'user', 'UAE'),
('2026-01-05 09:24:08', 'alice', '10.0.0.25', 'SUCCESS', 'user', 'India'),
('2026-01-05 09:24:31', 'alice', '10.0.0.87', 'FAILED', 'user', 'UAE'),
('2026-01-05 09:25:06', 'charlie', '10.0.0.191', 'SUCCESS', 'user', 'India'),
('2026-01-05 09:25:31', 'bob', '10.0.0.21', 'FAILED', 'user', 'Germany'),
('2026-01-05 09:26:08', 'victor', '10.0.0.11', 'FAILED', 'user', 'Germany'),
('2026-01-05 09:26:34', 'trent', '10.0.0.34', 'SUCCESS', 'user', 'India'),
('2026-01-05 09:27:10', 'mallory', '10.0.0.55', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:27:39', 'victor', '10.0.0.228', 'FAILED', 'admin', 'Germany'),
('2026-01-05 09:28:05', 'diana', '10.0.0.223', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:28:39', 'trent', '10.0.0.8', 'SUCCESS', 'admin', 'Canada'),
('2026-01-05 09:29:03', 'oscar', '10.0.0.223', 'FAILED', 'user', 'Germany'),
('2026-01-05 09:29:31', 'heidi', '10.0.0.29', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:30:00', 'diana', '10.0.0.53', 'FAILED', 'user', 'UAE'),
('2026-01-05 09:30:40', 'diana', '10.0.0.59', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:31:03', 'eve', '10.0.0.223', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:31:34', 'oscar', '10.0.0.132', 'SUCCESS', 'admin', 'UK'),
('2026-01-05 09:32:01', 'alice', '10.0.0.31', 'FAILED', 'user', 'UAE'),
('2026-01-05 09:32:33', 'alice', '10.0.0.29', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:33:01', 'trent', '10.0.0.157', 'FAILED', 'user', 'Singapore'),
('2026-01-05 09:33:36', 'eve', '10.0.0.13', 'FAILED', 'user', 'Singapore'),
('2026-01-05 09:34:04', 'mallory', '10.0.0.112', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:34:37', 'walter', '10.0.0.82', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:35:10', 'victor', '10.0.0.81', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:35:35', 'victor', '10.0.0.34', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:36:02', 'oscar', '10.0.0.193', 'FAILED', 'user', 'UAE'),
('2026-01-05 09:36:35', 'trent', '10.0.0.142', 'FAILED', 'user', 'Singapore'),
('2026-01-05 09:37:05', 'trent', '10.0.0.203', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:37:33', 'peggy', '10.0.0.115', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:38:10', 'oscar', '10.0.0.23', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:38:34', 'bob', '10.0.0.211', 'FAILED', 'user', 'UAE'),
('2026-01-05 09:39:10', 'diana', '10.0.0.208', 'SUCCESS', 'user', 'Singapore'),
('2026-01-05 09:39:40', 'peggy', '10.0.0.158', 'FAILED', 'user', 'Canada'),
('2026-01-05 09:40:01', 'oscar', '10.0.0.149', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:40:39', 'trent', '10.0.0.64', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:41:10', 'trent', '10.0.0.58', 'SUCCESS', 'admin', 'Australia'),
('2026-01-05 09:41:32', 'alice', '10.0.0.144', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:42:08', 'charlie', '10.0.0.207', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:42:33', 'peggy', '10.0.0.158', 'FAILED', 'admin', 'Canada'),
('2026-01-05 09:43:02', 'victor', '10.0.0.116', 'FAILED', 'user', 'Australia'),
('2026-01-05 09:43:37', 'peggy', '10.0.0.68', 'FAILED', 'user', 'UAE'),
('2026-01-05 09:44:06', 'victor', '10.0.0.126', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:44:34', 'heidi', '10.0.0.75', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:45:10', 'charlie', '10.0.0.40', 'SUCCESS', 'user', 'Singapore'),
('2026-01-05 09:45:38', 'bob', '10.0.0.108', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:46:03', 'alice', '10.0.0.54', 'FAILED', 'user', 'India'),
('2026-01-05 09:46:40', 'walter', '10.0.0.99', 'SUCCESS', 'admin', 'UAE'),
('2026-01-05 09:47:05', 'trent', '10.0.0.220', 'FAILED', 'user', 'Singapore'),
('2026-01-05 09:47:30', 'peggy', '10.0.0.58', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:48:03', 'mallory', '10.0.0.173', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:48:30', 'peggy', '10.0.0.237', 'SUCCESS', 'user', 'India'),
('2026-01-05 09:49:05', 'trent', '10.0.0.153', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:49:36', 'charlie', '10.0.0.223', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:50:04', 'mallory', '10.0.0.56', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:50:31', 'eve', '10.0.0.194', 'FAILED', 'user', 'USA'),
('2026-01-05 09:51:03', 'peggy', '10.0.0.6', 'FAILED', 'user', 'UK'),
('2026-01-05 09:51:39', 'diana', '10.0.0.168', 'SUCCESS', 'admin', 'India'),
('2026-01-05 09:52:05', 'alice', '10.0.0.245', 'SUCCESS', 'user', 'Germany'),
('2026-01-05 09:52:33', 'diana', '10.0.0.34', 'SUCCESS', 'user', 'Singapore'),
('2026-01-05 09:53:10', 'peggy', '10.0.0.181', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:53:37', 'charlie', '10.0.0.248', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:54:06', 'walter', '10.0.0.175', 'FAILED', 'user', 'Singapore'),
('2026-01-05 09:54:40', 'bob', '10.0.0.153', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:55:07', 'heidi', '10.0.0.199', 'SUCCESS', 'user', 'USA'),
('2026-01-05 09:55:32', 'walter', '10.0.0.202', 'SUCCESS', 'user', 'UK'),
('2026-01-05 09:56:04', 'bob', '10.0.0.131', 'SUCCESS', 'user', 'Canada'),
('2026-01-05 09:56:32', 'peggy', '10.0.0.29', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:57:03', 'heidi', '10.0.0.41', 'SUCCESS', 'user', 'UAE'),
('2026-01-05 09:57:38', 'walter', '10.0.0.208', 'FAILED', 'user', 'Australia'),
('2026-01-05 09:58:08', 'trent', '10.0.0.213', 'FAILED', 'user', 'Singapore'),
('2026-01-05 09:58:34', 'bob', '10.0.0.73', 'FAILED', 'user', 'Australia'),
('2026-01-05 09:59:09', 'walter', '10.0.0.158', 'SUCCESS', 'user', 'Australia'),
('2026-01-05 09:59:36', 'mallory', '10.0.0.48', 'SUCCESS', 'user', 'UAE');

In [34]:
df.shape

(2, 6)

In [35]:
import sqlite3

In [36]:
with open(datafile, "r", encoding="utf-8") as f:
    sql = f.read()

In [37]:
import re

In [39]:
sql = re.sub(r"(?im)^\s*--.*$", "", sql)                 # remove comment lines starting with --
sql = re.sub(r"(?im)^\s*CREATE DATABASE.*?;\s*$", "", sql)
sql = re.sub(r"(?im)^\s*USE\s+\w+\s*;\s*$", "", sql)

In [40]:
sql = re.sub(
    r"(?i)\blog_id\s+INT\s+PRIMARY\s+KEY\s+AUTO_INCREMENT\b",
    "log_id INTEGER PRIMARY KEY AUTOINCREMENT",
    sql
)

In [42]:

conn = sqlite3.connect(":memory:")
conn.executescript(sql)


df = pd.read_sql("SELECT * FROM auth_logs;", conn)

df

,log_id,timestamp,username,ip,status,role,country
0,1,2026-01-05 09:00:10,walter,10.0.0.104,SUCCESS,admin,Germany
1,2,2026-01-05 09:00:31,victor,10.0.0.128,SUCCESS,user,USA
2,3,2026-01-05 09:01:00,charlie,10.0.0.162,SUCCESS,user,USA
3,4,2026-01-05 09:01:34,trent,10.0.0.99,SUCCESS,user,UAE
4,5,2026-01-05 09:02:03,victor,10.0.0.222,FAILED,user,USA
...,...,...,...,...,...,...,...
115,116,2026-01-05 09:57:38,walter,10.0.0.208,FAILED,user,Australia
116,117,2026-01-05 09:58:08,trent,10.0.0.213,FAILED,user,Singapore
117,118,2026-01-05 09:58:34,bob,10.0.0.73,FAILED,user,Australia
118,119,2026-01-05 09:59:09,walter,10.0.0.158,SUCCESS,user,Australia
119,120,2026-01-05 09:59:36,mallory,10.0.0.48,SUCCESS,user,UAE

In [45]:
df.columns

Index(['log_id', 'timestamp', 'username', 'ip', 'status', 'role', 'country'], dtype='object')

In [46]:
df.dtypes

log_id        int64
timestamp    object
username     object
ip           object
status       object
role         object
country      object
dtype: object

In [63]:
df['timestamp'] = df['timestamp'].astype('datetime64[ns]')
df.dtypes

log_id                int64
timestamp    datetime64[ns]
username             object
ip                   object
status               object
role                 object
country              object
dtype: object

In [48]:
with open(filename, 'r') as file:
    sql_query=file.read()

In [49]:

with open(filename, 'r') as file:
  sql_query = file.read()

print(df)
df.shape

     log_id           timestamp username          ip   status   role  \
0         1 2026-01-05 09:00:10   walter  10.0.0.104  SUCCESS  admin
1         2 2026-01-05 09:00:31   victor  10.0.0.128  SUCCESS   user
2         3 2026-01-05 09:01:00  charlie  10.0.0.162  SUCCESS   user
3         4 2026-01-05 09:01:34    trent   10.0.0.99  SUCCESS   user
4         5 2026-01-05 09:02:03   victor  10.0.0.222   FAILED   user
..      ...                 ...      ...         ...      ...    ...
115     116 2026-01-05 09:57:38   walter  10.0.0.208   FAILED   user
116     117 2026-01-05 09:58:08    trent  10.0.0.213   FAILED   user
117     118 2026-01-05 09:58:34      bob   10.0.0.73   FAILED   user
118     119 2026-01-05 09:59:09   walter  10.0.0.158  SUCCESS   user
119     120 2026-01-05 09:59:36  mallory   10.0.0.48  SUCCESS   user

       country
0      Germany
1          USA
2          USA
3          UAE
4          USA
..         ...
115  Australia
116  Singapore
117  Australia
118  Australia
119        UAE

[120 rows x 7 columns]

(120, 7)