In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
DIR = '/content/drive/My Drive/Colab Notebooks/mlc10'
datafile_cent = 'superstore_central_dirty.csv'
datafile_east = 'superstore_east_dirty.csv'
datafile_north = 'superstore_north_dirty.csv'
filename_cent = DIR+'/'+datafile_cent
filename_east = DIR+'/'+datafile_east
filename_north = DIR+'/'+datafile_north

In [4]:
import os
os.chdir(DIR)

In [5]:
df1 = pd.read_csv(filename_cent)
df2 = pd.read_csv(filename_east)
df3 = pd.read_csv(filename_north)

In [ ]:
df1.columns

Index(['Index ', 'Row-ID', 'Order Id ', 'order-date', 'Ship.Date',
       'Ship  Mode', 'CustomerID', 'Customer  Name', 'Segment', 'Country',
       'City', 'State', 'Postal_Code#', 'REGION', 'Product ID', 'Category',
       'Sub Category', 'PRODUCT NAME', 'Sales($)', 'Qty', 'disc', 'Profit %',
       'Notes (Dirty)'],
      dtype='object')

In [ ]:
df2.columns

Index(['idx', 'row_id ', 'order_id', 'OrderDate', 'ship_date ', 'ShipMode',
       'customer id', 'customer_name', 'Segment', 'Country', 'City', 'State',
       'postalcode', 'region', 'Product ID', 'Category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit',
       'Notes (Dirty)'],
      dtype='object')

In [ ]:
df3.columns

Index(['unnamed_col', 'RowId', 'ORDER-ID', 'ORDER DATE', 'ShipDate',
       'SHIP_MODE', 'CUST-ID', 'CUSTOMER NAME', 'Segment', 'Country', 'City',
       'State', 'Postal Code ', 'Region ', 'Product ID', 'Category',
       'SubCategory', 'Product  Name', 'Sales USD', 'QTY ', 'Discount%',
       'PROFIT($)', 'Notes (Dirty)'],
      dtype='object')

In [ ]:
df1.dtypes

Index               int64
Row-ID              int64
Order Id           object
order-date         object
Ship.Date          object
Ship  Mode         object
CustomerID         object
Customer  Name     object
Segment            object
Country            object
City               object
State              object
Postal_Code#      float64
REGION             object
Product ID         object
Category           object
Sub Category       object
PRODUCT NAME       object
Sales($)           object
Qty                 int64
disc              float64
Profit %           object
Notes (Dirty)      object
dtype: object

In [7]:
target_columns = [
    "idx", "row_id", "order_id", "orderdate", "ship_date", "shipmode",
    "customer_id", "customer_name", "segment", "country", "city", "state",
    "postalcode", "region", "product_id", "category", "sub_category",
    "product_name", "sales", "quantity", "discount", "profit",
    "notes_dirty"
]

In [8]:
df1.columns = target_columns

In [ ]:
df1.columns

Index(['idx', 'row_id', 'order_id', 'orderdate', 'ship_date', 'shipmode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postalcode', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit',
       'notes_dirty'],
      dtype='object')

In [9]:
df2.columns = target_columns

In [ ]:
df2.columns

Index(['idx', 'row_id', 'order_id', 'orderdate', 'ship_date', 'shipmode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postalcode', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit',
       'notes_dirty'],
      dtype='object')

In [10]:
df3.columns = target_columns

In [ ]:
df3.columns

Index(['idx', 'row_id', 'order_id', 'orderdate', 'ship_date', 'shipmode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postalcode', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit',
       'notes_dirty'],
      dtype='object')

In [ ]:
df1.dtypes

idx                int64
row_id             int64
order_id          object
orderdate         object
ship_date         object
shipmode          object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postalcode       float64
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
quantity           int64
discount         float64
profit            object
notes_dirty       object
dtype: object

In [ ]:
df1["orderdate"] = pd.to_datetime(df1["orderdate"], errors="coerce")

In [ ]:
df1.dtypes

idx                       int64
row_id                    int64
order_id                 object
orderdate        datetime64[ns]
ship_date                object
shipmode                 object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postalcode              float64
region                   object
product_id               object
category                 object
sub_category             object
product_name             object
sales                    object
quantity                  int64
discount                float64
profit                   object
notes_dirty              object
dtype: object

In [ ]:
df1["ship_date"] = pd.to_datetime(df1["ship_date"], errors="coerce")

In [ ]:
df1.dtypes

idx                       int64
row_id                    int64
order_id                 object
orderdate        datetime64[ns]
ship_date        datetime64[ns]
shipmode                 object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postalcode              float64
region                   object
product_id               object
category                 object
sub_category             object
product_name             object
sales                    object
quantity                  int64
discount                float64
profit                   object
notes_dirty              object
dtype: object

In [11]:
df2.dtypes

idx                int64
row_id             int64
order_id          object
orderdate         object
ship_date         object
shipmode          object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postalcode       float64
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
quantity           int64
discount         float64
profit            object
notes_dirty       object
dtype: object

In [12]:
df2["orderdate"] = pd.to_datetime(df2["orderdate"], errors="coerce")

In [13]:
df3["orderdate"] = pd.to_datetime(df3["orderdate"], errors="coerce")

/tmp/ipython-input-536278276.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df3["orderdate"] = pd.to_datetime(df3["orderdate"], errors="coerce")

In [14]:
df3.dtypes

idx                       int64
row_id                    int64
order_id                 object
orderdate        datetime64[ns]
ship_date                object
shipmode                 object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postalcode              float64
region                   object
product_id               object
category                 object
sub_category             object
product_name             object
sales                    object
quantity                  int64
discount                float64
profit                   object
notes_dirty              object
dtype: object

In [15]:
df2["ship_date"] = pd.to_datetime(df2["ship_date"], errors="coerce")

In [17]:
df3["ship_date"] = pd.to_datetime(df3["ship_date"], errors="coerce")

In [18]:
df3.dtypes

idx                       int64
row_id                    int64
order_id                 object
orderdate        datetime64[ns]
ship_date        datetime64[ns]
shipmode                 object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postalcode              float64
region                   object
product_id               object
category                 object
sub_category             object
product_name             object
sales                    object
quantity                  int64
discount                float64
profit                   object
notes_dirty              object
dtype: object

In [19]:
df1["sales"] = pd.to_numeric(df1["sales"], errors="coerce")

In [20]:
df1.dtypes

idx                int64
row_id             int64
order_id          object
orderdate         object
ship_date         object
shipmode          object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postalcode       float64
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales            float64
quantity           int64
discount         float64
profit            object
notes_dirty       object
dtype: object

In [22]:
df2["sales"] = pd.to_numeric(df2["sales"], errors="coerce")

In [23]:
df3["sales"] = pd.to_numeric(df3["sales"], errors="coerce")

In [24]:
df3.dtypes

idx                       int64
row_id                    int64
order_id                 object
orderdate        datetime64[ns]
ship_date        datetime64[ns]
shipmode                 object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postalcode              float64
region                   object
product_id               object
category                 object
sub_category             object
product_name             object
sales                   float64
quantity                  int64
discount                float64
profit                   object
notes_dirty              object
dtype: object