In [40]:
import pandas as pd

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
DIR = '/content/drive/My Drive/Colab Notebooks/mlc10'
datafile_cent = 'superstore_central_dirty.csv'
datafile_east = 'superstore_east_dirty.csv'
datafile_north = 'superstore_north_dirty.csv'
filename_cent = DIR+'/'+datafile_cent
filename_east = DIR+'/'+datafile_east
filename_north = DIR+'/'+datafile_north

In [ ]:
!pwd

/content

In [ ]:
import os
os.chdir(DIR)

In [ ]:
df1 = pd.read_csv(filename_cent)
df2 = pd.read_csv(filename_east)
df3 = pd.read_csv(filename_north)

In [ ]:
df1

,Index,Row-ID,Order Id,order-date,Ship.Date,Ship Mode,CustomerID,Customer Name,Segment,Country,...,REGION,Product ID,Category,Sub Category,PRODUCT NAME,Sales($),Qty,disc,Profit %,Notes (Dirty)
0,14,15,US-2015-118983,2015-11-22,11-26-2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.81,5,0.8,-123.858,NaN
1,15,16,US-2015-118983,22/11/2015,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.544,3,0.8,-3.816,NaN
2,16,17,CA-2014-105893,NaN,18/11/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,...,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.88,6,0.0,13.3176,NaN
3,21,22,CA-2016-137330,NaN,12-13-2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.46,7,0.0,5.0596,NaN
4,22,23,CA-2016-137330,NaN,13/12/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,Central,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.34,7,0.0,15.6884,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2341,1989,1990,CA-2015-127509,NaN,13/11/2015,Standard Class,AS-10090,Adam Shillingsburg,Consumer,United States,...,Central,OFF-EN-10000781,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",26.22,3,0.0,$12.32,NaN
2342,9485,9486,CA-2016-164770,NaN,NaN,Second Class,MY-18295,Muhammed Yedwab,Corporate,United States,...,Central,OFF-PA-10003893,Office Supplies,Paper,Xerox 1962,30.816,9,0.2,9.63,NaN
2343,8219,8220,CA-2014-120775,NaN,NaN,Standard Class,RD-19930,Russell D'Ascenzo,Consumer,United States,...,Central,OFF-LA-10002271,OFFICE SUPPLIES,Labels,Smead Alpha-Z Color-Coded Second Alphabetical ...,4.928,2,0.2,1.7248,NaN
2344,8673,8674,CA-2017-163265,02-16-2017,02-21-2017,Standard Class,JS-16030,Joy Smith,Consumer,United States,...,Central,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,600.558,3,0.3,-8.5794,NaN
2345,6848,6849,US-2016-163461,06-18-2016,21/06/2016,First Class,BT-11440,Bobby Trafton,Consumer,United States,...,Central,OFF-PA-10003134,Office Supplies,Paper,Xerox 1937,76.864,2,0.2,26.9024,NaN

In [ ]:
df2

,idx,row_id,order_id,OrderDate,ship_date,ShipMode,customer id,customer_name,Segment,Country,...,region,Product ID,Category,sub_category,product_name,sales,quantity,discount,profit,Notes (Dirty)
0,23,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,...,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,NaN
1,27,28,US-2015-150630,09-17-2015,21/09/2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.43,7,0.5,"$-1,665.05",NaN
2,28,29,US-2015-150630,09-17-2015,21/09/2015,Standard,TB-21520,Tracy Blumstein,Consumer,United States,...,East,OFF-BI-10000474,Office Supplies,Binders,Avery Recycled Flexi-View Covers for Binding S...,9.618,2,0.7,-7.0532,NaN
3,29,30,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.2,3,0.2,15.525,NaN
4,30,31,US-2015-150630,2015-09-17,09-21-2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,3.264,2,0.2,1.1016,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,3913,3914,CA-2017-148068,18/09/2017,25/09/2017,Standard Class,MM-18280,Muhammed MacIntyre,Corporate,United States,...,East,FUR-FU-10002268,Furniture,Furnishings,Ultra Door Push Plate,9.82,2,0.0,$3.24,NaN
2872,8205,8206,CA-2015-114811,NaN,NaN,Same Day,KD-16495,Keith Dawkins,Corporate,United States,...,East,FUR-CH-10003746,Furniture,Chairs,Hon 4070 Series Pagoda Round Back Stacking Chairs,577.764,2,0.1,115.5528,NaN
2873,9203,9204,CA-2016-153836,30/10/2016,NaN,Standard Class,EH-13765,Edward Hooks,Corporate,United States,...,East,OFF-AR-10004602,Office Supplies,Art,Boston KS Multi-Size Manual Pencil Sharpener,114.95,5,0.0,32.186,NaN
2874,343,344,CA-2014-122336,2014-04-13,04-17-2014,Second Class,JD-15895,Jonathan Doherty,Corporate,United States,...,East,TEC-PH-10000702,TECHNOLOGY,Phones,"Square Credit Card Reader, 4 1/2"" x 4 1/2"" x 1...",71.928,12,0.4,8.3916,NaN
2875,4139,4140,CA-2017-127313,NaN,NaN,First Class,RA-19285,Ralph Arnett,Consumer,United States,...,East,OFF-ST-10001228,Office Supplies,Storage,Personal File Boxes with Fold-Down Carry Handle,37.392,3,0.2,2.337,check

In [ ]:
df3

,unnamed_col,RowId,ORDER-ID,ORDER DATE,ShipDate,SHIP_MODE,CUST-ID,CUSTOMER NAME,Segment,Country,...,Region,Product ID,Category,SubCategory,Product Name,Sales USD,QTY,Discount%,PROFIT($),Notes (Dirty)
0,9611,9612,CA-2017-144365,24/10/2017,10-30-2017,Standard Class,CS-11950,Carlos Soltero,Consumer,United States,...,North,OFF-FA-10000735,Office Supplies,Fasteners,Staples,11.68,4,0.0,5.256,NaN
1,2404,2405,CA-2017-108574,NaN,NaN,Standard Class,MG-18145,Mike Gockenbach,Consumer,United States,...,North,TEC-AC-10002049,Technology,Accessories,Logitech G19 Programmable Gaming Keyboard,1115.91,9,0.0,200.8638,NaN
2,2476,2477,CA-2016-114972,NaN,NaN,First Class,PF-19225,Phillip Flathmann,Consumer,United States,...,North,OFF-AP-10003057,OFFICE SUPPLIES,Appliances,Honeywell Enviracaire Portable HEPA Air Cleane...,1101.48,4,0.0,429.5772,NaN
3,8698,8699,CA-2017-119284,2017-06-15,2017-06-20,Standard Class,TS-21205,Thomas Seio,Corporate,United States,...,North,FUR-TA-10004152,Furniture,Tables,"Barricks 18"" x 48"" Non-Folding Utility Table w...",120.96,2,0.4,-28.224,NaN
4,9685,9686,CA-2017-118668,NaN,NaN,Second Class,FW-14395,Fred Wasserman,Corporate,United States,...,North,TEC-AC-10000682,Technology,Accessories,Kensington K72356US Mouse-in-a-Box USB Desktop...,$16.59,1,0.0,5.8065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,6512,6513,CA-2017-167640,NaN,NaN,Standard Class,FC-14245,Frank Carlisle,Home Office,United States,...,North,OFF-LA-10004559,Office Supplies,Labels,Avery 49,NaN,4,0.0,5.6448,NaN
2622,576,577,CA-2015-149713,18/09/2015,09-22-2015,Second Class,TG-21640,Trudy Glocke,Consumer,United States,...,North,OFF-PA-10001450,Office Supplies,Paper,Rediform S.O.S. Phone Message Books,19.92,4,0.0,9.7608,NaN
2623,338,339,CA-2014-129924,NaN,07-17-2014,Standard Class,AC-10420,Alyssa Crouse,Corporate,United States,...,North,FUR-TA-10004575,Furniture,Tables,Hon 5100 Series Wood Tables,698.352,3,0.2,-17.4588,NaN
2624,8751,8752,CA-2016-105662,NaN,NaN,Standard Class,RB-19465,Rick Bensley,Home Office,United States,...,North,OFF-PA-10001001,Office Supplies,Paper,Snap-A-Way Black Print Carbonless Speed Messag...,93.248,4,0.2,31.4712,NaN
2625,9501,9502,US-2015-158589,20/11/2015,11-24-2015,Standard Class,KW-16570,Kelly Williams,Consumer,United States,...,North,FUR-FU-10001546,Furniture,Furnishings,Dana Swing-Arm Lamps,32.04,3,0.0,8.01,NaN

In [ ]:
#Display the first five records from each dataset and report their dimensions (number of rows and columns).

df1.head()

,Index,Row-ID,Order Id,order-date,Ship.Date,Ship Mode,CustomerID,Customer Name,Segment,Country,...,REGION,Product ID,Category,Sub Category,PRODUCT NAME,Sales($),Qty,disc,Profit %,Notes (Dirty)
0,14,15,US-2015-118983,2015-11-22,11-26-2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.81,5,0.8,-123.858,NaN
1,15,16,US-2015-118983,22/11/2015,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.544,3,0.8,-3.816,NaN
2,16,17,CA-2014-105893,NaN,18/11/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,...,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.88,6,0.0,13.3176,NaN
3,21,22,CA-2016-137330,NaN,12-13-2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.46,7,0.0,5.0596,NaN
4,22,23,CA-2016-137330,NaN,13/12/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,Central,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.34,7,0.0,15.6884,NaN

In [ ]:
df2.head()

,idx,row_id,order_id,OrderDate,ship_date,ShipMode,customer id,customer_name,Segment,Country,...,region,Product ID,Category,sub_category,product_name,sales,quantity,discount,profit,Notes (Dirty)
0,23,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,...,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196,NaN
1,27,28,US-2015-150630,09-17-2015,21/09/2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.43,7,0.5,"$-1,665.05",NaN
2,28,29,US-2015-150630,09-17-2015,21/09/2015,Standard,TB-21520,Tracy Blumstein,Consumer,United States,...,East,OFF-BI-10000474,Office Supplies,Binders,Avery Recycled Flexi-View Covers for Binding S...,9.618,2,0.7,-7.0532,NaN
3,29,30,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.2,3,0.2,15.525,NaN
4,30,31,US-2015-150630,2015-09-17,09-21-2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,3.264,2,0.2,1.1016,NaN

In [ ]:
df3.head()

,unnamed_col,RowId,ORDER-ID,ORDER DATE,ShipDate,SHIP_MODE,CUST-ID,CUSTOMER NAME,Segment,Country,...,Region,Product ID,Category,SubCategory,Product Name,Sales USD,QTY,Discount%,PROFIT($),Notes (Dirty)
0,9611,9612,CA-2017-144365,24/10/2017,10-30-2017,Standard Class,CS-11950,Carlos Soltero,Consumer,United States,...,North,OFF-FA-10000735,Office Supplies,Fasteners,Staples,11.68,4,0.0,5.256,NaN
1,2404,2405,CA-2017-108574,NaN,NaN,Standard Class,MG-18145,Mike Gockenbach,Consumer,United States,...,North,TEC-AC-10002049,Technology,Accessories,Logitech G19 Programmable Gaming Keyboard,1115.91,9,0.0,200.8638,NaN
2,2476,2477,CA-2016-114972,NaN,NaN,First Class,PF-19225,Phillip Flathmann,Consumer,United States,...,North,OFF-AP-10003057,OFFICE SUPPLIES,Appliances,Honeywell Enviracaire Portable HEPA Air Cleane...,1101.48,4,0.0,429.5772,NaN
3,8698,8699,CA-2017-119284,2017-06-15,2017-06-20,Standard Class,TS-21205,Thomas Seio,Corporate,United States,...,North,FUR-TA-10004152,Furniture,Tables,"Barricks 18"" x 48"" Non-Folding Utility Table w...",120.96,2,0.4,-28.224,NaN
4,9685,9686,CA-2017-118668,NaN,NaN,Second Class,FW-14395,Fred Wasserman,Corporate,United States,...,North,TEC-AC-10000682,Technology,Accessories,Kensington K72356US Mouse-in-a-Box USB Desktop...,$16.59,1,0.0,5.8065,NaN

In [ ]:
print("Number of rows:", df1.shape[0])
print("Number of columns:", df1.shape[1])

Number of rows: 2346
Number of columns: 23

In [ ]:
print("Number of rows:", df2.shape[0])
print("Number of columns:", df2.shape[1])

Number of rows: 2876
Number of columns: 23

In [ ]:
print("Number of rows:", df3.shape[0])
print("Number of columns:", df3.shape[1])

Number of rows: 2626
Number of columns: 23

In [ ]:
#List all column names present in each dataset.
#Identify and report any visible inconsistencies in column naming across the three datasets.
df1.columns

Index(['Index ', 'Row-ID', 'Order Id ', 'order-date', 'Ship.Date',
       'Ship  Mode', 'CustomerID', 'Customer  Name', 'Segment', 'Country',
       'City', 'State', 'Postal_Code#', 'REGION', 'Product ID', 'Category',
       'Sub Category', 'PRODUCT NAME', 'Sales($)', 'Qty', 'disc', 'Profit %',
       'Notes (Dirty)'],
      dtype='object')

In [ ]:
df2.columns

Index(['idx', 'row_id ', 'order_id', 'OrderDate', 'ship_date ', 'ShipMode',
       'customer id', 'customer_name', 'Segment', 'Country', 'City', 'State',
       'postalcode', 'region', 'Product ID', 'Category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit',
       'Notes (Dirty)'],
      dtype='object')

In [ ]:
df3.columns

#inconsistencies: 'unnamed_col'

Index(['unnamed_col', 'RowId', 'ORDER-ID', 'ORDER DATE', 'ShipDate',
       'SHIP_MODE', 'CUST-ID', 'CUSTOMER NAME', 'Segment', 'Country', 'City',
       'State', 'Postal Code ', 'Region ', 'Product ID', 'Category',
       'SubCategory', 'Product  Name', 'Sales USD', 'QTY ', 'Discount%',
       'PROFIT($)', 'Notes (Dirty)'],
      dtype='object')

In [44]:
#Data types
df1 = pd.read_csv(filename_cent)
df1.dtypes

AttributeError: 'Index' object has no attribute 'dtypes'

In [ ]:
df2.dtypes

idx                int64
row_id             int64
order_id          object
OrderDate         object
ship_date         object
ShipMode          object
customer id       object
customer_name     object
Segment           object
Country           object
City              object
State             object
postalcode       float64
region            object
Product ID        object
Category          object
sub_category      object
product_name      object
sales             object
quantity           int64
discount         float64
profit            object
Notes (Dirty)     object
dtype: object

In [ ]:
df3.dtypes

unnamed_col        int64
RowId              int64
ORDER-ID          object
ORDER DATE        object
ShipDate          object
SHIP_MODE         object
CUST-ID           object
CUSTOMER NAME     object
Segment           object
Country           object
City              object
State             object
Postal Code      float64
Region            object
Product ID        object
Category          object
SubCategory       object
Product  Name     object
Sales USD         object
QTY                int64
Discount%        float64
PROFIT($)         object
Notes (Dirty)     object
dtype: object

In [ ]:
#Non-null value counts
df1.notna().count()

Index             2346
Row-ID            2346
Order Id          2346
order-date        2346
Ship.Date         2346
Ship  Mode        2346
CustomerID        2346
Customer  Name    2346
Segment           2346
Country           2346
City              2346
State             2346
Postal_Code#      2346
REGION            2346
Product ID        2346
Category          2346
Sub Category      2346
PRODUCT NAME      2346
Sales($)          2346
Qty               2346
disc              2346
Profit %          2346
Notes (Dirty)     2346
dtype: int64

In [ ]:
df2.notna().count()

idx              2876
row_id           2876
order_id         2876
OrderDate        2876
ship_date        2876
ShipMode         2876
customer id      2876
customer_name    2876
Segment          2876
Country          2876
City             2876
State            2876
postalcode       2876
region           2876
Product ID       2876
Category         2876
sub_category     2876
product_name     2876
sales            2876
quantity         2876
discount         2876
profit           2876
Notes (Dirty)    2876
dtype: int64

In [ ]:
df3.notna().count()

unnamed_col      2626
RowId            2626
ORDER-ID         2626
ORDER DATE       2626
ShipDate         2626
SHIP_MODE        2626
CUST-ID          2626
CUSTOMER NAME    2626
Segment          2626
Country          2626
City             2626
State            2626
Postal Code      2626
Region           2626
Product ID       2626
Category         2626
SubCategory      2626
Product  Name    2626
Sales USD        2626
QTY              2626
Discount%        2626
PROFIT($)        2626
Notes (Dirty)    2626
dtype: int64

Based on structural inspection, classify the columns into the following
categories:
- Date/Time attributes
- Numeric attributes
- Categorical/Text attributes

Perform this classification for at least one regional dataset

In [ ]:
import numpy as np
df1.select_dtypes(include=['datetime64[ns]']).columns.tolist()

[]

In [ ]:
df = pd.concat([df1, df2, df3])
df.head()

,Index,Row-ID,Order Id,order-date,Ship.Date,Ship Mode,CustomerID,Customer Name,Segment,Country,...,CUST-ID,CUSTOMER NAME,Postal Code,Region,SubCategory,Product Name,Sales USD,QTY,Discount%,PROFIT($)
0,14.0,15.0,US-2015-118983,2015-11-22,11-26-2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15.0,16.0,US-2015-118983,22/11/2015,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16.0,17.0,CA-2014-105893,NaN,18/11/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21.0,22.0,CA-2016-137330,NaN,12-13-2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22.0,23.0,CA-2016-137330,NaN,13/12/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df1.isna().mean() * 100

Index              0.000000
Row-ID             0.000000
Order Id           0.000000
order-date        42.327366
Ship.Date         39.982950
Ship  Mode         0.000000
CustomerID         0.000000
Customer  Name     1.960784
Segment            0.000000
Country            0.000000
City               0.000000
State              0.000000
Postal_Code#       2.941176
REGION             0.000000
Product ID         0.000000
Category           0.000000
Sub Category       0.000000
PRODUCT NAME       0.000000
Sales($)           1.960784
Qty                0.000000
disc               0.000000
Profit %           0.000000
Notes (Dirty)     97.826087
dtype: float64

In [ ]:
df1.duplicated().sum()

np.int64(6)

In [ ]:
df2.duplicated().sum()

np.int64(4)

In [ ]:
df3.duplicated().sum()

np.int64(2)

In [ ]:
df2=df2.columns.str.lower().str.strip().str.replace(r"[^\w]+", "_", regex=True).str.replace(r"_+", "_", regex=True).str.strip("_")

In [ ]:
df3=df3.columns.str.lower().str.strip().str.replace(r"[^\w]+", "_", regex=True).str.replace(r"_+", "_", regex=True).str.strip("_")

In [ ]:
df2.columns

Index(['index', 'row_id ', 'order_id', 'OrderDate', 'ship_date ', 'ShipMode',
       'customer id', 'customer_name', 'Segment', 'Country', 'City', 'State',
       'postalcode', 'region', 'Product ID', 'Category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit',
       'Notes (Dirty)'],
      dtype='object')

In [ ]:
df3.rename(columns={"unnamed_col": "index"}, inplace=True)

In [ ]:
df3.columns

Index(['index', 'RowId', 'ORDER-ID', 'ORDER DATE', 'ShipDate', 'SHIP_MODE',
       'CUST-ID', 'CUSTOMER NAME', 'Segment', 'Country', 'City', 'State',
       'Postal Code ', 'Region ', 'Product ID', 'Category', 'SubCategory',
       'Product  Name', 'Sales USD', 'QTY ', 'Discount%', 'PROFIT($)',
       'Notes (Dirty)'],
      dtype='object')

In [43]:
df1.dtypes

AttributeError: 'Index' object has no attribute 'dtypes'

In [45]:
df1.columns

AttributeError: 'Index' object has no attribute 'columns'