# import packages

In [ ]:
# import pandas package
# import os package

In [1]:
import os
import pandas as pd

# Mount the drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Load the dataset

In [3]:
# load the credential_leak_demo.db into your google drive  - no code needed to do this step

# specify the directory path where the dataset is located
DIR = '/content/drive/My Drive/Colab Notebooks/Data'
datafile = 'credential_leak_demo_object.db'
filename = DIR+'/'+datafile

In [4]:
# check the file is present or not
!pwd

/content

In [5]:
# “Open (or create) the SQLite database file and keep the connection in conn
import sqlite3
conn = sqlite3.connect(filename)

OperationalError: unable to open database file

Without a connection:

    Python cannot read tables
    Python cannot execute SQL queries
    Python cannot convert tables to DataFrames
    All database operations go through conn.

In [6]:
# To explore the database
tables = pd.read_sql_query(
    "SELECT * FROM sqlite_master", conn
)
tables

NameError: name 'conn' is not defined

In [ ]:
# Improvised
# To check all the tables in the database
tables = pd.read_sql_query(
    "SELECT * FROM sqlite_master WHERE type='table'", conn
)
tables

,type,name,tbl_name,rootpage,sql
0,table,users,users,2,CREATE TABLE users (\n user_id TEXT PRIMARY K...
1,table,password_resets,password_resets,4,CREATE TABLE password_resets (\n reset_id TEX...
2,table,sessions,sessions,6,CREATE TABLE sessions (\n session_id TEXT PRI...
3,table,api_keys,api_keys,8,CREATE TABLE api_keys (\n key_id TEXT PRIMARY...
4,table,audit_log,audit_log,10,CREATE TABLE audit_log (\n event_id TEXT PRIM...

In [ ]:
# Improvised
tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;",
    conn
)["name"].tolist()
tables

['api_keys', 'audit_log', 'password_resets', 'sessions', 'users']

  SQLite stores tables and indexes as B-trees:
      
      Root page → internal pages → leaf pages
      Efficient searching, insertion, deletion  
      rootpage tells SQLite where to start traversal.

# Reading from the files

In [ ]:
import sqlite3
conn = sqlite3.connect(filename)
df= pd.read_sql_query("SELECT * FROM users;", conn)
df

,user_id,username,email,password_hash,password_salt,role,mfa_enabled,last_login_utc,created_utc
0,1,user00001,user00001@example.com,8d914e1cbb60b890c7399f2910cec96f8a5a8271363223...,bVrpoiVgRV5IfLBc,student,1,2026-01-23T15:16:00Z,2026-01-23T15:16:00Z
1,2,user00002,user00002@corp.local,581e669218963490d73113876dde788b242cedd3bf6cfe...,SBvrjn9Wvgfygw2w,student,0,2026-02-16T22:00:00Z,2026-01-02T22:00:00Z
2,3,user00003,user00003@example.com,53a95abbb5fc355643afa051e051096dcccbcdad3332c5...,cQoXsf2o3gyrDO1x,student,0,2026-01-16T06:47:00Z,2025-12-23T06:47:00Z
3,4,user00004,user00004@mail.test,8330d1676585fc69ec535bed89b7975db8b0a23501a8ff...,7OSJoRu1XXdo0cZu,student,0,2026-02-13T12:19:00Z,2026-01-28T12:19:00Z
4,5,user00005,user00005@corp.local,f2889184f365ce51dd86bcdeaa4b03f74cd938666af404...,pVJIqVLB5LzxoiGF,student,0,2026-02-16T14:28:00Z,2026-01-12T14:28:00Z
...,...,...,...,...,...,...,...,...,...
5995,5996,user05996,user05996@example.com,b5eeefc9a6aa2ba2126f999db37b163ecd93919620f3f1...,1oU49MRWypWAO7hb,student,0,None,2025-12-20T06:43:00Z
5996,5997,user05997,user05997@corp.local,7478fedc0c6703ab0313b84a47a1cee2a4dcbd89e595fe...,OnV3joXTYF6g8JuB,student,0,2026-02-11T04:47:00Z,2026-01-29T04:47:00Z
5997,5998,user05998,user05998@service.io,e6ca07d767ad01a8ab27a52cbaf04e85a7e31f39db9367...,wbL15YRXMMA0sj8H,student,1,2026-02-07T19:15:00Z,2026-01-23T19:15:00Z
5998,5999,user05999,user05999@corp.local,1b92217c412b25b5a6443ff47c70dc43c3daf94b2918ec...,Jf0ZzGdH9pv6uTQE,student,1,2026-01-19T19:58:00Z,2025-12-20T19:58:00Z
5999,6000,user06000,user06000@corp.local,79ba122c6001903c87a94a0406748391f059d9261a0d24...,v5F33Jia3jFIVaOK,staff,0,2026-02-07T23:02:00Z,2025-12-21T23:02:00Z

In [ ]:
# Task:
# To check df is empty or not

In [ ]:
#To check the dimension

2

In [ ]:
# Task:
# find the datastructure of df

In [ ]:
# Task:
# check the dataframe

In [ ]:
# Task:
# Find the size

In [ ]:
# Task:
# Find the total number of rows and columns

In [ ]:
# Task:
# Find the number of records

In [ ]:
# Task:
# Find the total number of features / columns

In [ ]:
#Task:
# find the summary of the dataframe ie. column name + data type + non-null count

In [ ]:

#Find summary statistics

In [ ]:
# find the datatypes

In [ ]:
#generate a summary of descriptive statistics for non-numeric

In [ ]:
#Task:
#check is the any null values

In [ ]:
# Task:
# Check not null values

In [ ]:
# Task:
#Total non-null counts for each column

In [ ]:
#Which columns contain missing values

In [ ]:
# Task:
# Count missing values

timestamp            0
username             0
ip_address           0
country              0
login_status         0
role                 0
auth_method          0
user_agent           0
device_id            0
endpoint             0
failure_reason    3429
mfa_result           0
account_lock         0
risk_score           0
dtype: int64

In [ ]:
# Task:
# Find the first 5 records

In [ ]:
# Task:
# Find the first 10 records

In [ ]:
# Task:
# Find the last 15 records

In [ ]:
# Task:
# Extract 15th record

In [ ]:
# Task:
# Extract 10th record to 15th record

In [ ]:
# Task:
# randomly select one record

In [ ]:
# Task:
# pick randomly 10 records

In [ ]:
# Task:
# Extract the column 'country'

In [ ]:
# Task:
# swaps the rows and columns
# Note: it is used when we have more features

In [ ]:
# Task: list all the column name

Index(['user_id', 'username', 'email', 'password_hash', 'password_salt',
       'role', 'mfa_enabled', 'last_login_utc', 'created_utc'],
      dtype='object')

In [ ]:
# list all the datatypes

user_id           object
username          object
email             object
password_hash     object
password_salt     object
role              object
mfa_enabled       object
last_login_utc    object
created_utc       object
dtype: object

In [ ]:
df.sample()

,user_id,username,email,password_hash,password_salt,role,mfa_enabled,last_login_utc,created_utc
2431,2432,user02432,user02432@mail.test,3b39a134616b384559357ae7abaf5c1561db0e347c208a...,0Mu3q1uOG2qUt6Aw,student,1,2026-02-18T09:05:00Z,2026-01-12T09:05:00Z

Pandas Datatypes
    - Numeric
          - int
          - float

    - String
       - fixed values
          - category
       - not fixed values
          - object

    - Boolean
        - bool

    - Datetime
          - datetime
          - timedelta

In [ ]:
# change a column’s data type to the corresponding (appropriate) datatype
# step : Inspect -->   Decide --> Convert  --> Verify
# user_id

In [ ]:
df.columns

Index(['user_id', 'username', 'email', 'password_hash', 'password_salt',
       'role', 'mfa_enabled', 'last_login_utc', 'created_utc'],
      dtype='object')

In [ ]:
# change user_id to int

In [ ]:
df.dtypes

user_id              int64
username            object
email               object
password_hash       object
password_salt       object
role              category
mfa_enabled         object
last_login_utc      object
created_utc         object
dtype: object

In [ ]:
# role

In [ ]:
#mfa_enabled
df["mfa_enabled"] = df["mfa_enabled"].map({"1": True, "0": False})

In [ ]:
# if it mixed pattern
df["mfa_enabled"] = df["mfa_enabled"].str.lower().map({
    "1": True, "0": False,
    "yes": True, "no": False,
    "true": True, "false": False
})

In [ ]:
# last_login_utc

In [ ]:
# created_utc

In [ ]:
#Check whether username and email are unique.

user_id           6000
username          6000
email             6000
password_hash     6000
password_salt     6000
role                 4
mfa_enabled          2
last_login_utc    5269
created_utc       5783
dtype: int64

In [ ]:
# To check only particular column

6000

In [ ]:
#Identify which column behaves like an identifier (very high unique count).

In [ ]:
#Count how many records are fully duplicated rows

np.int64(0)

In [ ]:
#Display only the username column.

In [ ]:
#Display the username and email columns together.

In [ ]:
#What is the difference between:

df_users["email"]

df_users[["email"]]

In [ ]:
#Access the first row using positional indexing.

In [ ]:
#Access the first 5 rows using slicing.

In [ ]:
#Access the 10th row (by position).

In [ ]:
#Access the value of email in the 5th row using positional indexing.

In [ ]:
#Access the record corresponding to user_id = 100.

In [ ]:
#Access only the email of user_id = 100.

In [ ]:
#Access all records where role is admin.

In [ ]:
#Access all records where mfa_enabled is "0".

In [ ]:
# Access records where role is staff AND mfa_enabled is "0".

In [ ]:
#Access records where role is either admin OR staff.

In [ ]:
#Access multiple users using index labels: user_id = 10, 20, 30.

In [ ]:
#From users with mfa_enabled = "0", display only: user_id , username , email

In [ ]:
#From users whose role is admin, display only: username , created_utc , last_login_utc

In [ ]:
#Access users whose role is admin using query().

In [ ]:
#Access users whose role is staff and MFA is disabled using query().