# Inspecting the dataframe

In [ ]:
# Task:1
# import the package pandas

In [1]:
import pandas as pd

In [3]:
# Task:2
# read the file directly from the url
# Load the data from the from the git link bkeerthana/pandas/auth_logs.csv
url= 'https://raw.githubusercontent.com/bkeerthana/pandas/refs/heads/main/auth_logs.csv'
df = pd.read_csv(url)
# Hint : path of the raw file

In [4]:
# Task:
# To check df is empty or not
df.empty

False

In [7]:
#To check the dimension
df.ndim

2

In [10]:
# Task:3
# find the datastructure of df
type(df) #function

pandas.core.frame.DataFrame

In [11]:
# Task:4
# check the dataframe
df

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
0,01-01-2026 00:02,diana,45.33.12.19,India,FAILED,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,IOS-51167c3fd0-7190,/login,INVALID_PASSWORD,NOT_REQUIRED,NO,65
1,01-01-2026 00:04,diana,185.10.20.77,UAE,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-2250,/login,NaN,NOT_REQUIRED,NO,41
2,01-01-2026 00:07,alice,10.0.0.193,Internal,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,WIN-5de018d9da-5285,/login,NaN,PASSED,NO,21
3,01-01-2026 00:16,trent,192.168.1.188,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AND-ab967bc7cf-8679,/login,NaN,NOT_REQUIRED,NO,11
4,01-01-2026 00:20,charlie,45.33.12.206,India,SUCCESS,user,OTP,curl/8.4.0,LIN-4f51b60675-4962,/admin/login,NaN,PASSED,NO,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,15-01-2026 23:37,diana,10.0.0.203,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-7385,/login,NaN,NOT_REQUIRED,NO,18
4996,15-01-2026 23:39,diana,192.168.1.80,Internal,SUCCESS,user,Password,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,WIN-faf8e398cf-3808,/login,NaN,NOT_REQUIRED,NO,7
4997,15-01-2026 23:49,oscar,10.0.0.96,Internal,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,MAC-50b6498ef8-6296,/login,NaN,PASSED,NO,20
4998,15-01-2026 23:52,unknown,10.0.0.5,Internal,FAILED,unknown,Password+OTP,curl/8.4.0,AND-8e47e7b22f-6971,/login,UNKNOWN_USER,NOT_REQUIRED,NO,77
4999,15-01-2026 23:58,walter,192.168.1.9,Internal,SUCCESS,admin,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-87a6fcd29c-8685,/login,NaN,PASSED,NO,22

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
0,01-01-2026 00:02,diana,45.33.12.19,India,FAILED,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,IOS-51167c3fd0-7190,/login,INVALID_PASSWORD,NOT_REQUIRED,NO,65
1,01-01-2026 00:04,diana,185.10.20.77,UAE,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-2250,/login,NaN,NOT_REQUIRED,NO,41
2,01-01-2026 00:07,alice,10.0.0.193,Internal,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,WIN-5de018d9da-5285,/login,NaN,PASSED,NO,21
3,01-01-2026 00:16,trent,192.168.1.188,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AND-ab967bc7cf-8679,/login,NaN,NOT_REQUIRED,NO,11
4,01-01-2026 00:20,charlie,45.33.12.206,India,SUCCESS,user,OTP,curl/8.4.0,LIN-4f51b60675-4962,/admin/login,NaN,PASSED,NO,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,15-01-2026 23:37,diana,10.0.0.203,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-7385,/login,NaN,NOT_REQUIRED,NO,18
4996,15-01-2026 23:39,diana,192.168.1.80,Internal,SUCCESS,user,Password,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,WIN-faf8e398cf-3808,/login,NaN,NOT_REQUIRED,NO,7
4997,15-01-2026 23:49,oscar,10.0.0.96,Internal,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,MAC-50b6498ef8-6296,/login,NaN,PASSED,NO,20
4998,15-01-2026 23:52,unknown,10.0.0.5,Internal,FAILED,unknown,Password+OTP,curl/8.4.0,AND-8e47e7b22f-6971,/login,UNKNOWN_USER,NOT_REQUIRED,NO,77
4999,15-01-2026 23:58,walter,192.168.1.9,Internal,SUCCESS,admin,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-87a6fcd29c-8685,/login,NaN,PASSED,NO,22

Inspecting dataframe

In [12]:
# Task:5
# Find the size
df.size #characteristics

70000

209874

In [13]:
# Task:6
# Find the total number of rows and columns
df.shape #attribute

(5000, 14)

(9994, 21)

In [14]:
# Task:7
# Find the number of records
df.shape[0]

5000

In [15]:
len(df)

5000

In [ ]:
# Task:8
# Find the total number of features / columns

In [16]:
df.shape[1]

14

In [17]:
#Task:9
# find the summary of the dataframe ie. column name + data type + non-null count
df.info() #method

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       5000 non-null   object
 1   username        5000 non-null   object
 2   ip_address      5000 non-null   object
 3   country         5000 non-null   object
 4   login_status    5000 non-null   object
 5   role            5000 non-null   object
 6   auth_method     5000 non-null   object
 7   user_agent      5000 non-null   object
 8   device_id       5000 non-null   object
 9   endpoint        5000 non-null   object
 10  failure_reason  1571 non-null   object
 11  mfa_result      5000 non-null   object
 12  account_lock    5000 non-null   object
 13  risk_score      5000 non-null   int64
dtypes: int64(1), object(13)
memory usage: 547.0+ KB

In [18]:
#Task:10
#Find summary statistics
df.describe

<bound method NDFrame.describe of              timestamp username     ip_address   country login_status  \
0     01-01-2026 00:02    diana    45.33.12.19     India       FAILED
1     01-01-2026 00:04    diana   185.10.20.77       UAE      SUCCESS
2     01-01-2026 00:07    alice     10.0.0.193  Internal      SUCCESS
3     01-01-2026 00:16    trent  192.168.1.188  Internal      SUCCESS
4     01-01-2026 00:20  charlie   45.33.12.206     India      SUCCESS
...                ...      ...            ...       ...          ...
4995  15-01-2026 23:37    diana     10.0.0.203  Internal      SUCCESS
4996  15-01-2026 23:39    diana   192.168.1.80  Internal      SUCCESS
4997  15-01-2026 23:49    oscar      10.0.0.96  Internal      SUCCESS
4998  15-01-2026 23:52  unknown       10.0.0.5  Internal       FAILED
4999  15-01-2026 23:58   walter    192.168.1.9  Internal      SUCCESS

         role   auth_method  \
0        user      Password
1        user      Password
2        user  Password+OTP
3        user      Password
4        user           OTP
...       ...           ...
4995     user      Password
4996     user      Password
4997     user  Password+OTP
4998  unknown  Password+OTP
4999    admin  Password+OTP

                                             user_agent            device_id  \
0     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...  IOS-51167c3fd0-7190
1     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  SRV-0fa80fc572-2250
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  WIN-5de018d9da-5285
3     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  AND-ab967bc7cf-8679
4                                            curl/8.4.0  LIN-4f51b60675-4962
...                                                 ...                  ...
4995  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  SRV-0fa80fc572-7385
4996  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  WIN-faf8e398cf-3808
4997  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  MAC-50b6498ef8-6296
4998                                         curl/8.4.0  AND-8e47e7b22f-6971
4999  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  SRV-87a6fcd29c-8685

          endpoint    failure_reason    mfa_result account_lock  risk_score
0           /login  INVALID_PASSWORD  NOT_REQUIRED           NO          65
1           /login               NaN  NOT_REQUIRED           NO          41
2           /login               NaN        PASSED           NO          21
3           /login               NaN  NOT_REQUIRED           NO          11
4     /admin/login               NaN        PASSED           NO          37
...            ...               ...           ...          ...         ...
4995        /login               NaN  NOT_REQUIRED           NO          18
4996        /login               NaN  NOT_REQUIRED           NO           7
4997        /login               NaN        PASSED           NO          20
4998        /login      UNKNOWN_USER  NOT_REQUIRED           NO          77
4999        /login               NaN        PASSED           NO          22

[5000 rows x 14 columns]>

In [ ]:
df.describe(include='object')

,username,ip_address,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result
count,5000,5000,5000,5000,5000,5000,5000,5000,1571,5000
unique,12,1361,2,3,3,7,4997,6,8,4
top,mallory,10.0.0.17,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,LIN-ea6cd4fc8b-4683,/login,INVALID_PASSWORD,NOT_REQUIRED
freq,477,16,3429,4535,3465,964,2,2747,1242,3406

In [ ]:
df.describe(include='all')

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
count,5000,5000,5000,5000,5000,5000,5000,5000,5000,5000,1571,5000,5000,5000.000000
unique,NaN,12,1361,6,2,3,3,7,4997,6,8,4,2,NaN
top,NaN,mallory,10.0.0.17,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,LIN-ea6cd4fc8b-4683,/login,INVALID_PASSWORD,NOT_REQUIRED,False,NaN
freq,NaN,477,16,3003,3429,4535,3465,964,2,2747,1242,3406,4968,NaN
mean,2026-01-08 05:29:49.404000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.907000
min,2026-01-01 00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,2026-01-04 09:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000
50%,2026-01-08 16:48:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.000000
75%,2026-01-11 01:34:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.000000
max,2026-01-15 23:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.482672

In [ ]:
df.describe(percentiles=[0.05,0.75,0.95])

                        timestamp   risk_score
count                        5000  5000.000000
mean   2026-01-08 05:29:49.404000    38.907000
min           2026-01-01 00:02:00     0.000000
5%            2026-01-02 00:21:42     6.000000
50%           2026-01-08 16:48:30    28.000000
75%           2026-01-11 01:34:45    66.000000
95%           2026-01-14 23:54:12    90.000000
max           2026-01-15 23:58:00   100.000000
std                           NaN    28.482672

In [20]:
df.columns

Index(['timestamp', 'username', 'ip_address', 'country', 'login_status',
       'role', 'auth_method', 'user_agent', 'device_id', 'endpoint',
       'failure_reason', 'mfa_result', 'account_lock', 'risk_score'],
      dtype='object')

In [19]:
#Task:11
# find the datatypes
df.dtypes

timestamp         object
username          object
ip_address        object
country           object
login_status      object
role              object
auth_method       object
user_agent        object
device_id         object
endpoint          object
failure_reason    object
mfa_result        object
account_lock      object
risk_score         int64
dtype: object

In [ ]:
#Task:12
#check is the any null values

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [ ]:
# Task:13
# Check not null values

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,False,True,True,True
2,True,True,True,True,True,True,True,True,True,True,False,True,True,True
3,True,True,True,True,True,True,True,True,True,True,False,True,True,True
4,True,True,True,True,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,True,True,True,True,True,True,True,True,True,True,False,True,True,True
4996,True,True,True,True,True,True,True,True,True,True,False,True,True,True
4997,True,True,True,True,True,True,True,True,True,True,False,True,True,True
4998,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4999,True,True,True,True,True,True,True,True,True,True,False,True,True,True

In [ ]:
# Task:14
# Count missing values

timestamp            0
username             0
ip_address           0
country              0
login_status         0
role                 0
auth_method          0
user_agent           0
device_id            0
endpoint             0
failure_reason    3429
mfa_result           0
account_lock         0
risk_score           0
dtype: int64

In [ ]:
# Task:15
# Find the first 5 records

In [ ]:
# Task:16
# Find the first 10 records

In [ ]:
# Task:17
# Find the last 15 records

In [ ]:
# Task:18
# Extract 15th record

In [ ]:
# Task:19
# Extract 10th record to 15th record

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
10,01-01-2026 00:27,charlie,10.0.0.82,Internal,SUCCESS,user,Password,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SRV-59360808de-7314,/login,NaN,NOT_REQUIRED,NO,9
11,01-01-2026 00:28,charlie,198.51.100.41,USA,SUCCESS,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,IOS-1267909c30-3496,/login,NaN,NOT_REQUIRED,NO,44
12,01-01-2026 00:47,diana,192.168.1.204,Internal,SUCCESS,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,IOS-51167c3fd0-8516,/login,NaN,NOT_REQUIRED,NO,14
13,01-01-2026 00:50,diana,10.0.0.107,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AND-0fa80fc572-8129,/login,NaN,NOT_REQUIRED,NO,12
14,01-01-2026 00:58,victor,192.168.1.197,Internal,SUCCESS,user,Password,Mozilla/5.0 (Linux; Android 14; Pixel 7) Apple...,AND-d2dbb8591f-2629,/login,NaN,NOT_REQUIRED,NO,13
15,01-01-2026 01:05,charlie,10.0.0.96,Internal,SUCCESS,user,Password,Mozilla/5.0 (Linux; Android 14; Pixel 7) Apple...,MAC-d74aef13d5-6402,/login,NaN,NOT_REQUIRED,NO,17

In [ ]:
# Task:20
# randomly select one record

In [ ]:
# Task:21
# pick randomly 10 records

In [ ]:
# Task:22
# Extract the column 'country'

In [ ]:
# Task:23
# swaps the rows and columns
# Note: it is used when we have more features

In [ ]:
# Task:24
# list all the column name

Index(['timestamp', 'username', 'ip_address', 'country', 'login_status',
       'role', 'auth_method', 'user_agent', 'device_id', 'endpoint',
       'failure_reason', 'mfa_result', 'account_lock', 'risk_score'],
      dtype='object')

In [ ]:
df.dtypes

timestamp         object
username          object
ip_address        object
country           object
login_status      object
role              object
auth_method       object
user_agent        object
device_id         object
endpoint          object
failure_reason    object
mfa_result        object
account_lock      object
risk_score         int64
dtype: object

Pandas Datatypes
    - Numeric
          - int
          - float

    - String
       - fixed values
          - category
       - not fixed values
          - object

    - Boolean
        - bool

    - Datetime
          - datetime
          - timedelta

In [ ]:
# Task:25
# List all the column name with the datype int

In [ ]:
# List all the column name with string/ object datatype

In [ ]:
df.columns

Index(['timestamp', 'username', 'ip_address', 'country', 'login_status',
       'role', 'auth_method', 'user_agent', 'device_id', 'endpoint',
       'failure_reason', 'mfa_result', 'account_lock', 'risk_score'],
      dtype='object')

In [ ]:
# Task:26
# convert 'timestamp' to datetime
# Method 1:

#pd.to_datetime('timestamp') # it throws error need to specify minutes too

df["timestamp"] = pd.to_datetime(df["timestamp"], format="%d-%m-%Y %H:%M", errors="coerce")

#errors="coerce" tells Pandas:
#If a value cannot be converted, do not raise an error; instead, convert it to a missing value.
#For datetime conversion, that missing value is NaT (Not-a-Time).

# Method 2:
#df['timestamp']=df['timestamp'].astype('datetime64[ns]')

In [ ]:
df.dtypes

timestamp         datetime64[ns]
username                  object
ip_address                object
country                   object
login_status              object
role                      object
auth_method               object
user_agent                object
device_id                 object
endpoint                  object
failure_reason            object
mfa_result                object
account_lock                bool
risk_score                 int64
dtype: object

In [ ]:
df

,timestamp,username,ip_address,country,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
0,2026-01-01 00:02:00,diana,45.33.12.19,India,FAILED,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,IOS-51167c3fd0-7190,/login,INVALID_PASSWORD,NOT_REQUIRED,True,65
1,2026-01-01 00:04:00,diana,185.10.20.77,UAE,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-2250,/login,NaN,NOT_REQUIRED,True,41
2,2026-01-01 00:07:00,alice,10.0.0.193,Internal,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,WIN-5de018d9da-5285,/login,NaN,PASSED,True,21
3,2026-01-01 00:16:00,trent,192.168.1.188,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AND-ab967bc7cf-8679,/login,NaN,NOT_REQUIRED,True,11
4,2026-01-01 00:20:00,charlie,45.33.12.206,India,SUCCESS,user,OTP,curl/8.4.0,LIN-4f51b60675-4962,/admin/login,NaN,PASSED,True,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2026-01-15 23:37:00,diana,10.0.0.203,Internal,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-7385,/login,NaN,NOT_REQUIRED,True,18
4996,2026-01-15 23:39:00,diana,192.168.1.80,Internal,SUCCESS,user,Password,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,WIN-faf8e398cf-3808,/login,NaN,NOT_REQUIRED,True,7
4997,2026-01-15 23:49:00,oscar,10.0.0.96,Internal,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,MAC-50b6498ef8-6296,/login,NaN,PASSED,True,20
4998,2026-01-15 23:52:00,unknown,10.0.0.5,Internal,FAILED,unknown,Password+OTP,curl/8.4.0,AND-8e47e7b22f-6971,/login,UNKNOWN_USER,NOT_REQUIRED,True,77
4999,2026-01-15 23:58:00,walter,192.168.1.9,Internal,SUCCESS,admin,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-87a6fcd29c-8685,/login,NaN,PASSED,True,22

In [ ]:
#Task:27
# Convert account_lock to boolean

In [ ]:
df.dtypes

timestamp         datetime64[ns]
username                  object
ip_address                object
country                 category
login_status              object
role                      object
auth_method               object
user_agent                object
device_id                 object
endpoint                  object
failure_reason            object
mfa_result                object
account_lock                bool
risk_score                 int64
dtype: object

In [ ]:
# Task:28
# find the unique values present in the 'mfa_result'

In [ ]:
# Task:29
# Find the number of unique values

In [ ]:
# convert country to category datatype

In [ ]:
# convert login_status to category

In [ ]:
# convert role to category

In [ ]:
# conver auth_method to category

In [ ]:
# mfa_result to category

In [ ]:
# Task:30
# List all the integer features

In [ ]:
# List all the int and bool

      account_lock  risk_score
0            False          65
1            False          41
2            False          21
3            False          11
4            False          37
...            ...         ...
4995         False          18
4996         False           7
4997         False          20
4998         False          77
4999         False          22

[5000 rows x 2 columns]

In [ ]:
# List all the values other than category

,timestamp,username,ip_address,login_status,role,auth_method,user_agent,device_id,endpoint,failure_reason,mfa_result,account_lock,risk_score
0,2026-01-01 00:02:00,diana,45.33.12.19,FAILED,user,Password,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,IOS-51167c3fd0-7190,/login,INVALID_PASSWORD,NOT_REQUIRED,False,65
1,2026-01-01 00:04:00,diana,185.10.20.77,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-2250,/login,NaN,NOT_REQUIRED,False,41
2,2026-01-01 00:07:00,alice,10.0.0.193,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,WIN-5de018d9da-5285,/login,NaN,PASSED,False,21
3,2026-01-01 00:16:00,trent,192.168.1.188,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,AND-ab967bc7cf-8679,/login,NaN,NOT_REQUIRED,False,11
4,2026-01-01 00:20:00,charlie,45.33.12.206,SUCCESS,user,OTP,curl/8.4.0,LIN-4f51b60675-4962,/admin/login,NaN,PASSED,False,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2026-01-15 23:37:00,diana,10.0.0.203,SUCCESS,user,Password,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-0fa80fc572-7385,/login,NaN,NOT_REQUIRED,False,18
4996,2026-01-15 23:39:00,diana,192.168.1.80,SUCCESS,user,Password,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,WIN-faf8e398cf-3808,/login,NaN,NOT_REQUIRED,False,7
4997,2026-01-15 23:49:00,oscar,10.0.0.96,SUCCESS,user,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,MAC-50b6498ef8-6296,/login,NaN,PASSED,False,20
4998,2026-01-15 23:52:00,unknown,10.0.0.5,FAILED,unknown,Password+OTP,curl/8.4.0,AND-8e47e7b22f-6971,/login,UNKNOWN_USER,NOT_REQUIRED,False,77
4999,2026-01-15 23:58:00,walter,192.168.1.9,SUCCESS,admin,Password+OTP,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SRV-87a6fcd29c-8685,/login,NaN,PASSED,False,22

In [ ]:
# Task:31
# get all the country values

array(['India', 'UAE', 'Internal', ..., 'Internal', 'Internal',
       'Internal'], dtype=object)

In [ ]:
# Task:32
# find the value counts for each country

country
Internal    3003
USA          773
Unknown      709
Germany      192
UAE          176
India        147
Name: count, dtype: int64

In [ ]:
# Task:33
# find the index

RangeIndex(start=0, stop=5000, step=1)

Summarizing data

      The describe() function computes the summary statistics of the numerical columns in the dataframe.

      This function gives the mean, std and IQR values. It excludes the character columns and gives summary about numeric columns. It includes the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. It takes the list of values; by default, 'number'.

      object − Summarizes string columns

      number − Summarizes numeric columns

      all − Summarizes all columns together

In [ ]:
df.describe(include='all').T

In [ ]:
df.describe(include='object')

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994
unique,5009,1237,1334,4,793,793,3,1,531,49,4,1862,3,17,1850
top,CA-2017-100111,09-05-2016,12/16/2015,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,35,5968,37,37,5191,9994,915,2001,3203,19,6026,1523,48

In [ ]:
df.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [ ]:
df.nunique()

timestamp         3604
username            12
ip_address        1361
country              6
login_status         2
role                 3
auth_method          3
user_agent           7
device_id         4997
endpoint             6
failure_reason       8
mfa_result           4
account_lock         2
risk_score         101
dtype: int64

In [ ]:
df['country'].unique()

array(['India', 'UAE', 'Internal', 'USA', 'Unknown', 'Germany'],
      dtype=object)

In [ ]:
df['country'].value_counts()

country
Internal    3003
USA          773
Unknown      709
Germany      192
UAE          176
India        147
Name: count, dtype: int64