In [1]:
import pandas as pd

In [2]:
url1="http://www.fdic.gov/bank/individual/failed/banklist.html"
tables = pd.read_html(url1)
df = tables[0]
df
#type(df)
#df.shape

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Metropolitan Capital Bank & Trust,Chicago,Illinois,57488,First Independence Bank,"January 30, 2026",10550
1,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
2,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
3,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
4,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
5,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
6,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
7,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
8,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
9,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
10,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
11,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
12,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
13,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
14,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
15,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
16,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
17,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
18,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
19,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
20,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
21,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
22,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
23,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
24,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524

In [3]:
url2 = "https://www.fdic.gov/bank-failures/failed-bank-list?pg=2"
tables1 = pd.read_html(url2)
df1 = tables1[0]
df1
#df1.shape

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Harvest Community Bank,Pennsville,New Jersey,34951,First-Citizens Bank & Trust Company,"January 13, 2017",10523
1,Allied Bank,Mulberry,Arkansas,91,Today's Bank,"September 23, 2016",10522
2,The Woodbury Banking Company,Woodbury,Georgia,11297,United Bank,"August 19, 2016",10521
3,First CornerStone Bank,King of Prussia,Pennsylvania,35312,First-Citizens Bank & Trust Company,"May 6, 2016",10520
4,Trust Company Bank,Memphis,Tennessee,9956,The Bank of Fayette County,"April 29, 2016",10519
5,North Milwaukee State Bank,Milwaukee,Wisconsin,20364,First-Citizens Bank & Trust Company,"March 11, 2016",10518
6,Hometown National Bank,Longview,Washington,35156,Twin City Bank,"October 2, 2015",10517
7,The Bank of Georgia,Peachtree City,Georgia,35259,Fidelity Bank,"October 2, 2015",10516
8,Premier Bank,Denver,Colorado,34112,"United Fidelity Bank, fsb","July 10, 2015",10515
9,Edgebrook Bank,Chicago,Illinois,57772,Republic Bank of Chicago,"May 8, 2015",10514
10,Doral Bank,San Juan,Puerto Rico,32102,Banco Popular de Puerto Rico,"February 27, 2015",10513
11,Capitol City Bank & Trust Company,Atlanta,Georgia,33938,First-Citizens Bank & Trust Company,"February 13, 2015",10512
12,Highland Community Bank,Chicago,Illinois,20290,"United Fidelity Bank, fsb","January 23, 2015",10511
13,First National Bank of Crestview,Crestview,Florida,17557,First NBC Bank,"January 16, 2015",10510
14,Northern Star Bank,Mankato,Minnesota,34983,BankVista,"December 19, 2014",10509
15,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,California,34738,"Bank of Southern California, N.A.","November 7, 2014",10508
16,The National Republic Bank of Chicago,Chicago,Illinois,916,State Bank of Texas,"October 24, 2014",10507
17,NBRS Financial,Rising Sun,Maryland,4862,Howard Bank,"October 17, 2014",10506
18,"GreenChoice Bank, fsb",Chicago,Illinois,28462,"Providence Bank, LLC","July 25, 2014",10505
19,Eastside Commercial Bank,Conyers,Georgia,58125,Community & Southern Bank,"July 18, 2014",10504
20,The Freedom State Bank,Freedom,Oklahoma,12483,Alva State Bank & Trust Company,"June 27, 2014",10503
21,Valley Bank,Moline,Illinois,10450,Great Southern Bank,"June 20, 2014",10502
22,Valley Bank,Fort Lauderdale,Florida,21793,"Landmark Bank, National Association","June 20, 2014",10501
23,Slavie Federal Savings Bank,Bel Air,Maryland,32368,"Bay Bank, FSB","May 30, 2014",10500
24,Columbia Savings Bank,Cincinnati,Ohio,32284,"United Fidelity Bank, fsb","May 23, 2014",10499

In [4]:
import pandas as pd

base = "https://www.fdic.gov/bank-failures/failed-bank-list"
all_pages = []

for pg in range(0, 50):  # 50 is a safe upper bound; we will stop when no table / no rows
    url = f"{base}?items_per_page=25&pg={pg}"
    try:
        tables = pd.read_html(url)
        if not tables:
            break
        page_df = tables[0]
        if page_df.empty:
            break
        all_pages.append(page_df)
    except ValueError:
        # read_html raises ValueError when it can't find tables
        break

df = pd.concat(all_pages, ignore_index=True).drop_duplicates()
print(df.shape)
df.head()

(573, 7)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Metropolitan Capital Bank & Trust,Chicago,Illinois,57488,First Independence Bank,"January 30, 2026",10550
1,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
2,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
3,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
4,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546

05-02-2026

In [13]:
df.columns

Index(['Bank Name', 'City', 'State', 'Cert', 'Acquiring Institution',
       'Closing Date', 'Fund  Sort ascending'],
      dtype='object')

In [14]:
#find minimum value
df['Fund  Sort ascending'].min()

4645

In [15]:
df['Fund  Sort ascending'].max()

10550

In [16]:
df['Fund  Sort ascending'].cumsum()

0        10550
1        21099
2        31647
3        42194
4        52740
        ...
593    5737626
594    5742274
595    5746921
596    5751567
597    5756212
Name: Fund  Sort ascending, Length: 573, dtype: int64

In [24]:
df['Fund  Sort ascending'].mean()

np.float64(10045.74520069808)

In [18]:
df['Fund  Sort ascending'].std()

1107.550791901724

In [19]:
df['Fund  Sort ascending'].median()

10262.0

In [20]:
df['Fund  Sort ascending'].mode()

0       4645
1       4646
2       4647
3       4648
4       4649
       ...
568    10546
569    10547
570    10548
571    10549
572    10550
Name: Fund  Sort ascending, Length: 573, dtype: int64

In [21]:
df['Fund  Sort ascending'].cumprod()

0                    10550
1                111291950
2            1173907488600
3        12381202282264200
4      1444950752791391888
              ...
593                      0
594                      0
595                      0
596                      0
597                      0
Name: Fund  Sort ascending, Length: 573, dtype: int64

In [22]:
df['Fund  Sort ascending'].cummin()

0      10550
1      10549
2      10548
3      10547
4      10546
       ...
593     4649
594     4648
595     4647
596     4646
597     4645
Name: Fund  Sort ascending, Length: 573, dtype: int64

In [27]:
#find the range
df['Fund  Sort ascending'].max() - df['Fund  Sort ascending'].min()

5905